<button
  class="app-button app-button--{{ color() }} app-button--{{ size() }} {{
    disabled() ? 'app-button--disabled' : ''
  }}"
  [disabled]="disabled()"
  (click)="performClick()"
>
  @if (icon()) {
  <div
    class="app-button__container app-button__container--{{ iconPosition() }}"
  >
    <app-icon [name]="icon()!" [size]="iconSize()" [scale]="iconScale()"/>
    @if (text()) {
    <span class="app-button__text">{{ text() }}</span>
    }
  </div>
  } @else {
  <span
    class="app-button__text"
    [ngStyle]="{ 'font-weight': weight() === 'light' ? 'normal' : 'bold' }"
  >
    {{ text() }}
  </span>
  }
</button>
