.digimon-selection-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .digimon-selection-modal-content {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;

    .digimon-group-header {
      font-size: 2rem;
      font-weight: bold;
      padding-left: 5px;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--primary);
        margin-bottom: 10px;
      }
    }

    &-items-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, 208px);
      justify-content: center;
      gap: 10px;
      padding: 10px;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .digimon-selection-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: -webkit-fill-available;
      padding: 10px;
      border-radius: 10px;
      background: var(--secondary-dark-transparent);

      img {
        width: 100px;
        height: 100px;
        object-fit: scale-down;
      }

      &-name {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
      }

      &-rank {
        font-size: 0.8rem;
      }

      &:hover {
        background: var(--secondary-dark);
        cursor: pointer;
      }
    }
  }
}
