<div class="desktop">
  <div class="desktop-home-wrapper">
    <div class="desktop-home-container">
      <div class="title-container">
        <span class="section-title home-title">{{
          "MODULES.DESKTOP.COMPONENTS.HOME_SECTION.TITLE" | transloco
        }}</span>
      </div>
      <app-home-section />
    </div>
  </div>
  <div class="desktop-farm-wrapper">
    <div class="desktop-farm-container">
      <span class="section-title">{{
        "MODULES.DESKTOP.COMPONENTS.FARM_SECTION.TITLE" | transloco
      }}</span>
      <app-farm-section />
    </div>
  </div>
</div>

<app-digimon-details-modal />
