<div class="desktop">
	<div class="desktop-home-wrapper">
    <div class="desktop-home-container">
      <div class="title-container">
        <span class="section-title home-title">Home</span>
      </div>
      <app-home-section />
    </div>
	</div>
	<div class="desktop-farm-wrapper">
    <div class="desktop-farm-container">
      <span class="section-title">Farm</span>
      <app-farm-section />
    </div>
	</div>
	<div class="desktop-explore-wrapper">
		<span class="section-title">Explore</span>
	</div>
	<div class="desktop-arena-wrapper">
		<span class="section-title">Arena</span>
	</div>
</div>
