:host {
  width: -webkit-fill-available;
}

.desktop {
  display: flex;
  flex-wrap: wrap;
  height: -webkit-fill-available;

  >div {
    display: flex;
    justify-content: center;
    border: 2px solid var(--primary-dark);
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    padding: 10px;
  }

  .desktop-home-wrapper {
    position: relative;
    overflow: auto;
    height: inherit;
    color: var(--text);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('/assets/backgrounds/bg-1.gif');
      background-size: cover;
      filter: brightness(50%);
      z-index: -1;
    }

    .desktop-home-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      .title-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 100%;
      }

      app-home-section {
        display: flex;
        flex-grow: 1;
        width: 100%;
        overflow: auto;
      }
    }
  }

  .desktop-farm-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    color: var(--text);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('/assets/backgrounds/bg-2.gif');
      background-size: cover;
      filter: brightness(50%);
      z-index: -1;
    }

    .desktop-farm-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      align-items: center;

      app-farm-section {
        display: flex;
        flex-grow: 1;
        width: 100%;
        overflow: auto;
      }
    }
  }

  .section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
  }

  .home-title {
    margin-bottom: 25px;
  }
}
