<div class="desktop">
	<div class="desktop-home-wrapper">
    <div class="desktop-home-container">
      <div class="title-container">
        <span class="section-title home-title">Home</span>
        <app-button [text]="'Add digimon to team'" color="secondary" (click)="openDigimonStorageModal()"/>
      </div>
      <app-home-section />
    </div>
	</div>
	<div class="desktop-farm-wrapper">
    <div class="desktop-farm-container">
      <span class="section-title">Farm</span>
      <app-farm-section />
    </div>
	</div>
	<div class="desktop-explore-wrapper">
		<span class="section-title">Explore</span>
	</div>
	<div class="desktop-arena-wrapper">
		<span class="section-title">Arena</span>
	</div>
</div>

<app-modal [id]="digimonStorageModalId">
  <div class="digimon-storage-container">
    <span class="section-title">Digimon Storage</span>
    <div class="digimon-storage-content">
      @for(digimon of globalState.playerData().digimonStorageList; track digimon){
      <app-digi-status-card [digimon]="digimon" />
      <app-button text="Add to team" color="secondary" (click)="addDigimonToTeam(digimon)"/>
      <app-button text="Add to training" color="secondary" (click)="addDigimonToTraining(digimon)"/>
      <app-button text="Add to farm" color="primary" (click)="addDigimonToFarm(digimon)"/>
      }
    </div>
  </div>
</app-modal>
