.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .level-select-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;

    label {
      font-size: 16px;
    }

    .level-select-input {
      width: 80px;
      height: 40px;
      font-size: 14px;
      font-weight: bold;
      color: #333;
      background-color: var(--gray-100);
      border: 1px solid var(--primary-light);
      border-radius: 10px;
      outline: none;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
      text-align: center;
    }

    .level-select-input::-webkit-inner-spin-button,
    .level-select-input::-webkit-outer-spin-button {
      opacity: 1;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
    }

    .level-select-input:active {
      transform: scale(1.02);
    }
  }

  .generate-evolution-line-select-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;

    label {
      font-size: 16px;

      &:hover {
        cursor: pointer;
      }
    }

    input:hover {
      cursor: pointer;
    }
  }

  .filters-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

    app-checkbox {
      padding: 10px;
      background: var(--secondary-dark-transparent);
      border-radius: 10px;
    }
  }

  .search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    app-input {
      width: 100%;
      max-width: 400px;
    }
  }
}
