<div class="home-section">
  <h4 class="home-section-sub-title">
    Upfront Team: {{ globalState.playerDataAcessor.digimonList.length }}/6
  </h4>
  <div
    [id]="teamListId"
    class="my-digimon-list"
    #teamList="cdkDropList"
    cdkDropList
    [cdkDropListData]="globalState.playerDataAcessor"
    [cdkDropListConnectedTo]="[
      hospitalListId,
      inTrainingListId,
      bitFarmingListId
    ]"
    (cdkDropListDropped)="drop($event)"
  >
    @for(digimon of globalState.playerDataAcessor.digimonList; track
    digimon.id){
    <app-digi-status-card
      cdkDrag
      [digimon]="digimon"
      (click)="openDigimonDetailsModal(digimon)"
      (contextmenu)="removeDigimonFromLocation($event, digimon, 'team')"
    />
    }
  </div>
  <div class="hospital-area-container">
    <h4 class="hospital-area-sub-title">Hospital</h4>
    <span class="countdown">
      Next healing in {{ globalState.hospitalHealingCountdown() }}
    </span>
    <div
      [id]="hospitalListId"
      class="hospital-digimon-list"
      #inTrainingList="cdkDropList"
      cdkDropList
      [cdkDropListData]="globalState.playerDataAcessor"
      [cdkDropListConnectedTo]="[
        teamListId,
        bitFarmingListId,
        inTrainingListId
      ]"
      (cdkDropListDropped)="drop($event)"
    >
      @for(digimon of globalState.playerDataAcessor.hospitalDigimonList; track
      digimon.id){
      <app-digi-status-card
        cdkDrag
        [digimon]="digimon"
        (click)="openDigimonDetailsModal(digimon)"
        (contextmenu)="removeDigimonFromLocation($event, digimon, 'hospital')"
      />
      }
    </div>
  </div>
</div>
