.home-section-container {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  align-items: center;
  gap: 10px;

  .home-section-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--secondary-dark-transparent);
    backdrop-filter: blur(2px);
    width: -webkit-fill-available;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
  }

  .home-section-header> :first-child {
    grid-column: 1;
    justify-self: start;
  }

  .home-section-header> :nth-child(2) {
    grid-column: 2;
    justify-self: center;
    align-self: center;
    padding-right: 5px;
  }

  .home-section-header> :last-child {
    grid-column: 3;
    align-self: center;
    justify-self: end;
  }
}

.home-section-horizontal {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  align-items: center;
  gap: 15px;
}

.home-section-vertical {
  display: flex;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  justify-content: center;
  gap: 15px;
  overflow: visible;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.panel-horizontal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--primary-dark-transparent);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  height: 315px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: visible;

  .my-digimon-list {
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    gap: 10px;
    padding: 10px;
    flex-direction: row-reverse;
    height: -webkit-fill-available;
    box-sizing: border-box;
    align-items: flex-start;

    &.cdk-drop-list-dragging {
      .my-digimon-list-no-data-container {
        display: none;
      }
    }

    .home-section-battle-team-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      overflow-x: auto;
      overflow-y: visible;
      align-items: flex-start;
    }

    .my-digimon-list-no-data-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .hospital-area-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--primary-dark-transparent);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    height: -webkit-fill-available;
    overflow: visible;
  }

  .hospital-area-header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px 0 10px;

    &-column {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .hospital-digimon-list {
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    gap: 10px;
    padding: 10px;
    flex-direction: row-reverse;
    height: -webkit-fill-available;
    box-sizing: border-box;
    align-items: flex-start;

    &.cdk-drop-list-dragging {
      .hospital-digimon-list-no-data-container {
        display: none;
      }
    }

    &-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      overflow-x: auto;
      overflow-y: visible;
      align-items: flex-start;
    }

    .hospital-digimon-list-no-data-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}

.panel-vertical {
  display: flex;
  flex-direction: column;
  background: var(--primary-dark-transparent);
  backdrop-filter: blur(2px);
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 300px;

  .my-digimon-list {
    display: flex;
    overflow: visible;
    justify-content: center;
    padding: 10px;
    height: -webkit-fill-available;
    box-sizing: border-box;

    &.cdk-drop-list-dragging {
      .my-digimon-list-no-data-container {
        display: none;
      }
    }

    .home-section-battle-team-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: visible;
    }

    .my-digimon-list-no-data-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .hospital-area-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--primary-dark-transparent);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    height: -webkit-fill-available;
  }

  .hospital-area-header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px 0 10px;

    &-column {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .hospital-digimon-list {
    display: flex;
    overflow-y: auto;
    overflow-x: visible;
    gap: 10px;
    padding: 10px;
    flex-direction: row-reverse;
    height: -webkit-fill-available;
    box-sizing: border-box;

    &.cdk-drop-list-dragging {
      .hospital-digimon-list-no-data-container {
        display: none;
      }
    }

    &-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      overflow: visible;
    }

    .hospital-digimon-list-no-data-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}

.battle-team-area-sub-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 10px 0 10px;
}

.battle-team-area-sub-title {
  margin: 10px;
}

app-digi-status-card {
  height: fit-content;
}
