.home-section {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: -webkit-fill-available;
  align-items: center;
  gap: 15px;

  &-sub-title {
    margin: 10px;
  }

  .my-digimon-list {
    display: flex;
    overflow: auto;
    gap: 10px;
    background-color: rgba(black, 0.8);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    height: 235px;

    .my-digimon-list-no-data-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .hospital-area-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(black, 0.8);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    height: 295px;

    .hospital-area-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .hospital-digimon-list {
      display: flex;
      overflow: auto;
      gap: 10px;
      padding: 10px;

      .hospital-digimon-list-no-data-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
