<div class="home-section-container">
  <div class="home-section-header">
    <span>
      <span class="label">{{
        "MODULES.DESKTOP.COMPONENTS.HOME_SECTION.BITS" | transloco
      }}</span>
      {{ globalState.playerDataView().bits }}
    </span>
    <span class="section-title home-title">{{
      "MODULES.DESKTOP.COMPONENTS.HOME_SECTION.TITLE" | transloco
    }}</span>
    <app-button
      [appTooltip]="
        'MODULES.DESKTOP.COMPONENTS.FARM_SECTION.LAYOUT_TOOLTIP' | transloco
      "
      tooltipDirection="left"
      [icon]="
        selectedLayout() === 'horizontal'
          ? 'vertical-layout'
          : 'horizontal-layout'
      "
      iconScale="2"
      (onClick)="setLayout()"
    />
  </div>

  @if(selectedLayout() === 'vertical') {
  <div class="preset-teams-container">
    @if(isCreatingTeam()) {
    <app-input
      [placeholder]="
        'MODULES.DESKTOP.COMPONENTS.HOME_SECTION.GIVE_TEAM_A_NAME' | transloco
      "
      [(ngModel)]="newTeamName"
      [maxlength]="20"
      (onEnter)="processTeamCreation()"
    />
    <app-button
      [appTooltip]="
        'MODULES.DESKTOP.COMPONENTS.HOME_SECTION.CONFIRM_TEAM_CREATION' | transloco
      "
      icon="check-fat"
      color="success"
      (onClick)="processTeamCreation()"
    />
    } @else {
    <app-select
      [placeholder]="
        'MODULES.DESKTOP.COMPONENTS.HOME_SECTION.TEAM_SELECT_PLACEHOLDER'
          | transloco
      "
      [(ngModel)]="selectedTeam"
      [options]="playerTeams()"
      (valueChange)="setSelectedTeam($event)"
    />
    <app-button
      [appTooltip]="
        'MODULES.DESKTOP.COMPONENTS.HOME_SECTION.CREATE_TEAM' | transloco
      "
      icon="plus-circle"
      color="success"
      (onClick)="isCreatingTeam.set(true)"
    />
    }

    <app-button
      [appTooltip]="
        'MODULES.DESKTOP.COMPONENTS.HOME_SECTION.UPDATE_TEAM' | transloco
      "
      icon="floppy-disk"
      color="info"
      [disabled]="isCreatingTeam() || !selectedTeam()"
      (onClick)="updateTeam()"
    />
    <app-button
      [appTooltip]="
        'MODULES.DESKTOP.COMPONENTS.HOME_SECTION.REMOVE_TEAM' | transloco
      "
      icon="trash"
      color="danger"
      [disabled]="isCreatingTeam() || !selectedTeam()"
      (onClick)="removeTeam()"
    />
  </div>
  }

  <div [class]="'home-section-' + selectedLayout()">
    <div [class]="'panel-' + selectedLayout()">
      <div class="battle-team-area-sub-title-container">
        <h4 class="battle-team-area-sub-title">
          {{ "MODULES.DESKTOP.COMPONENTS.HOME_SECTION.SUBTITLE" | transloco }}:
          {{ globalState.playerDataView().digimonList.length }}/{{
            this.globalState.listsLimits.team
          }}
        </h4>
        <app-button
          [appTooltip]="
            'MODULES.DESKTOP.COMPONENTS.HOME_SECTION.SEND_INJURED_DIGIMONS_TO_HOSPITAL'
              | transloco
          "
          icon="ambulance"
          iconScale="2"
          color="danger"
          [disabled]="!canSendInjuredDigimonToHospital()"
          (onClick)="sendInjuredDigimonToHospital()"
        />
      </div>

      <div
        [id]="teamListId"
        class="my-digimon-list"
        #teamList="cdkDropList"
        cdkDropList
        [cdkDropListOrientation]="selectedLayout()"
        [cdkDropListData]="globalState.playerDataView()"
        [cdkDropListConnectedTo]="[
          hospitalListId,
          inTrainingListId,
          bitFarmingListId
        ]"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="home-section-battle-team-container">
          @for(digimon of globalState.playerDataView().digimonList; track
          digimon.id){
          <app-digi-status-card
            cdkDrag
            [digimon]="digimon"
            (click)="openDigimonDetailsModal(digimon)"
            (contextmenu)="removeDigimonFromLocation($event, digimon, 'team')"
          />
          } @empty {
          <div class="my-digimon-list-no-data-container">
            <h4>
              {{
                "MODULES.DESKTOP.COMPONENTS.HOME_SECTION.NO_DIGIMON" | transloco
              }}
            </h4>
          </div>
          }
        </div>
      </div>
      @if(selectedLayout() === 'horizontal') {
      <div class="preset-teams-container">
        @if(isCreatingTeam()) {
        <app-input
          [placeholder]="
            'MODULES.DESKTOP.COMPONENTS.HOME_SECTION.GIVE_TEAM_A_NAME'
              | transloco
          "
          [(ngModel)]="newTeamName"
          [maxlength]="20"
          (onEnter)="processTeamCreation()"
        />
        <app-button
          [appTooltip]="
            'MODULES.DESKTOP.COMPONENTS.HOME_SECTION.CONFIRM_TEAM_CREATION' | transloco
          "
          icon="check-fat"
          color="success"
          (onClick)="processTeamCreation()"
        />
        } @else {
        <app-select
          [placeholder]="
            'MODULES.DESKTOP.COMPONENTS.HOME_SECTION.TEAM_SELECT_PLACEHOLDER'
              | transloco
          "
          [(ngModel)]="selectedTeam"
          [options]="playerTeams()"
          (valueChange)="setSelectedTeam($event)"
        />
        <app-button
          [appTooltip]="
            'MODULES.DESKTOP.COMPONENTS.HOME_SECTION.CREATE_TEAM' | transloco
          "
          icon="plus-circle"
          color="success"
          (onClick)="isCreatingTeam.set(true)"
        />
        }

        <app-button
          [appTooltip]="
            'MODULES.DESKTOP.COMPONENTS.HOME_SECTION.UPDATE_TEAM' | transloco
          "
          icon="floppy-disk"
          color="info"
          [disabled]="isCreatingTeam() || !selectedTeam()"
          (onClick)="updateTeam()"
        />
        <app-button
          [appTooltip]="
            'MODULES.DESKTOP.COMPONENTS.HOME_SECTION.REMOVE_TEAM' | transloco
          "
          icon="trash"
          color="danger"
          [disabled]="isCreatingTeam() || !selectedTeam()"
          (onClick)="removeTeam()"
        />
      </div>
      }
    </div>

    <div [class]="'panel-' + selectedLayout()">
      <div class="hospital-area-header">
        <div [class]="'hospital-area-header-' + selectedLayout()">
          <h4>
            {{
              "MODULES.DESKTOP.COMPONENTS.HOME_SECTION.HOSPITAL_TITLE"
                | transloco
            }}
            {{ globalState.playerDataView().hospitalDigimonList.length }}/{{
              globalState.listsLimits.hospital
            }}
          </h4>
          <span>
            {{
              "MODULES.DESKTOP.COMPONENTS.HOME_SECTION.NEXT_HEALING" | transloco
            }}
            {{ globalState.hospitalHealingCountdown() }}
          </span>
        </div>
        <div class="hospital-area-header-column">
          <app-button
            [appTooltip]="
              !hasDigimonsToHeal()
                ? ('MODULES.DESKTOP.COMPONENTS.HOME_SECTION.HEAL_ALL_DISABLED_TOOLTIP'
                  | transloco)
                : !hasEnoughBits()
                ? ('MODULES.DESKTOP.COMPONENTS.HOME_SECTION.NOT_ENOUGH_BITS_TOOLTIP'
                  | transloco : { price: fullHealPrice() })
                : ('MODULES.DESKTOP.COMPONENTS.HOME_SECTION.HEAL_ALL_TOOLTIP'
                  | transloco : { price: fullHealPrice() })
            "
            icon="heal"
            iconScale="2"
            color="success"
            [disabled]="!isHealAllEnabled()"
            (onClick)="healAll()"
          />
        </div>
      </div>
      <div
        [id]="hospitalListId"
        class="hospital-digimon-list"
        #inTrainingList="cdkDropList"
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="globalState.playerDataView()"
        [cdkDropListConnectedTo]="[
          teamListId,
          bitFarmingListId,
          inTrainingListId
        ]"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="hospital-digimon-list-container">
          @for(digimon of globalState.playerDataView().hospitalDigimonList;
          track digimon.id){
          <app-digi-status-card
            cdkDrag
            [digimon]="digimon"
            (click)="openDigimonDetailsModal(digimon)"
            (contextmenu)="
              removeDigimonFromLocation($event, digimon, 'hospital')
            "
          />
          } @empty {
          <div class="hospital-digimon-list-no-data-container">
            <h4>
              {{
                "MODULES.DESKTOP.COMPONENTS.HOME_SECTION.NO_DIGIMON_HOSPITAL"
                  | transloco
              }}
            </h4>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
