.action-bar {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--gray-800);
    padding: 5px;
    width: 83px;
    height: 100%;
    overflow: auto;

    .action-bar-buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;

      svg {
        cursor: var(--cursor-pointer);
      }

      .action-bar-button {
        padding: 10px 10px;
        margin: 0px;
        background-color: var(--primary-dark-transparent);
        border-radius: 10px;
        transition: background-color 0.3s ease-in-out;

        &--active {
          background-color: var(--primary-light);
        }

        &:hover {
          cursor: var(--cursor-pointer);
          background-color: var(--primary-light);
          transition: transform 0.3s ease-in-out;

          &>div {
            transform: scale(1.2);
            transition: transform 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
