.action-bar {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--gray-800);
    width: 62px;
    height: 100%;

    .action-bar-buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
