<div class="action-bar-container">
  <div class="action-bar-buttons">
    <app-button
      [title]="'COMMON.ACTION_BAR.BUTTONS.DESKTOP' | transloco"
      icon="ph-desktop"
      weight="bold"
      color="info"
      (onClick)="navigateTo('desktop')"
    />
    <app-button
      [title]="'COMMON.ACTION_BAR.BUTTONS.ADVENTURE' | transloco"
      icon="ph-sword"
      weight="bold"
      color="danger"
      (onClick)="navigateTo('adventure')"
    />
    <app-button
      [title]="'COMMON.ACTION_BAR.BUTTONS.OPEN_DIGIMON_STORAGE' | transloco"
      icon="ph-database"
      weight="bold"
      (onClick)="openDigimonStorageModal()"
    />
    <app-button
      [title]="'COMMON.ACTION_BAR.BUTTONS.LAB' | transloco"
      icon="ph-test-tube"
      weight="bold"
      color="success"
      (onClick)="navigateTo('lab')"
    />
  </div>
  <div class="action-bar-buttons">
    @if(isDevMode) {
    <app-button
      [title]="'COMMON.ACTION_BAR.BUTTONS.DEBUG' | transloco"
      icon="ph-bug"
      weight="bold"
      color="dark"
      (onClick)="openDebugModal()"
    />
    }
    <app-button
      [title]="'COMMON.ACTION_BAR.BUTTONS.PLAYER_INFO' | transloco"
      icon="ph-user-circle-gear"
      weight="bold"
      color="dark"
      (onClick)="openPlayerInfoModal()"
    />
    <app-button
      [title]="'COMMON.ACTION_BAR.BUTTONS.CONFIG' | transloco"
      icon="ph-gear"
      weight="bold"
      color="dark"
      (onClick)="openConfigModal()"
    />
    <app-button
      [title]="'COMMON.ACTION_BAR.BUTTONS.SAVE_GAME' | transloco"
      icon="ph-floppy-disk"
      weight="bold"
      color="dark"
      (onClick)="saveGame()"
    />
  </div>
</div>

<app-storage-modal />
<app-player-info-modal />
<app-debug-modal />
<app-config-modal />
