<div class="action-bar-container">
  <app-button
    icon="ph-database"
    weight="bold"
    (click)="openDigimonStorageModal()"
    title="Open digimon storage"
  />
</div>

<app-modal [id]="digimonStorageModalId">
  <div class="digimon-storage-container">
    <h3 class="section-title">Digimon Storage</h3>
    <div class="digimon-storage-content">
      @if(globalState.playerData().digimonStorageList.length === 0){
      <div class="digimon-storage-content-no-data-container">
        <h4>No digimon in storage</h4>
      </div>
      } @else {
      <div class="digimon-storage-content-list-container">
        @for(digimon of globalState.playerData().digimonStorageList; track
        digimon){
        <div class="digimon-storage-content-list-item">
          <app-digi-status-card [digimon]="digimon" (click)="openDigimonDetailsModal(digimon)"/>
          <div class="actions">
            <app-button
              text="Add to team"
              color="primary"
              (click)="addDigimonToTeam(digimon)"
            />
            <app-button
              text="Add to training"
              color="secondary"
              (click)="addDigimonToTraining(digimon)"
            />
            <app-button
              text="Add to farm"
              color="tertiary"
              (click)="addDigimonToFarm(digimon)"
            />
          </div>
        </div>
        }
      </div>
      }
      <div class="digimon-storage-content-footer">
        <span
          >Storage Capacity:
          {{ globalState.playerData().digimonStorageList.length }} /
          {{ globalState.playerData().digimonStorageCapacity }}</span
        >
      </div>
    </div>
  </div>
</app-modal>
