<div class="action-bar-container">
  <div class="action-bar-buttons">
    <app-button
      title="Desktop"
      icon="ph-desktop"
      weight="bold"
      color="info"
      (onClick)="navigateTo('desktop')"
    />
    <app-button
      title="Adventure"
      icon="ph-sword"
      weight="bold"
      color="danger"
      (onClick)="navigateTo('adventure')"
    />
    <app-button
      title="Open digimon storage"
      icon="ph-database"
      weight="bold"
      (onClick)="openDigimonStorageModal()"
    />
    <app-button
      title="Lab"
      icon="ph-test-tube"
      weight="bold"
      color="success"
      (onClick)="navigateTo('lab')"
    />
  </div>
  <div class="action-bar-buttons">
    @if(isDevMode) {
    <app-button
      title="Debug"
      icon="ph-bug"
      weight="bold"
      color="dark"
      (onClick)="openDebugModal()"
    />
    }
    <app-button
      title="Player Info"
      icon="ph-user-circle-gear"
      weight="bold"
      color="dark"
      (onClick)="openPlayerInfoModal()"
    />
    <app-button
      title="Config"
      icon="ph-gear"
      weight="bold"
      color="dark"
      (onClick)="openConfigModal()"
    />
    <app-button
      title="Save Game"
      icon="ph-floppy-disk"
      weight="bold"
      color="dark"
      (onClick)="saveGame()"
    />
  </div>
</div>

<app-storage-modal />
<app-player-info-modal />
<app-debug-modal />
<app-config-modal />
