.action-bar {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(black, 0.8);
    width: 62px;
    height: 100%;

    .action-bar-buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
