<app-modal [id]="id()">
  <div class="debug-modal-container">
    <h3 class="section-title">
      {{ "SHARED.COMPONENTS.DEBUG_MODAL.TITLE" | transloco }}
    </h3>
    <div class="debug-modal-content">
      <div class="debug-modal-content-container">
        @for (tool of tools; track $index) {
        <app-button
          [text]="tool.name | transloco"
          [color]="tool.color ?? 'primary'"
          (onClick)="tool.action()"
        />
        }
      </div>
    </div>
  </div>
</app-modal>
