<app-modal [id]="debugModalId" (openEvent)="onOpen()" (closeEvent)="onClose()">
  <div class="debug-modal-container">
    <h3 class="section-title">
      {{ "SHARED.COMPONENTS.DEBUG_MODAL.TITLE" | transloco }}
    </h3>
    <div class="debug-modal-content">
      @for (tool of tools; track $index) {
      <div class="debug-modal-content-row">
        <app-button
          [text]="tool.name | transloco"
          color="primary"
          (onClick)="tool.action()"
        />
      </div>
      }
    </div>
  </div>
</app-modal>

<app-digimon-selection-modal
  [id]="giveSelectedDigimonModalId"
  [digimonList]="selectableDigimonList()"
  (onSelectDigimon)="giveSelectedDigimon($event)"
>
  <div class="options-container">
    <div class="level-select-container">
      <label for="level-select">{{
        "SHARED.COMPONENTS.DEBUG_MODAL.SELECT_LEVEL" | transloco
      }}</label>
      <input
        type="number"
        id="level-select"
        name="level-select"
        class="level-select-input"
        min="1"
        max="100"
        [maxlength]="3"
        [(ngModel)]="selectedLevel"
        (ngModelChange)="validateLevel($event)"
      />
    </div>
    <div class="generate-evolution-line-select-container">
      <app-checkbox
        [label]="
          'SHARED.COMPONENTS.DEBUG_MODAL.GENERATE_EVOLUTION_LINE' | transloco
        "
        [(ngModel)]="generateEvolutionLine"
      />
    </div>
    <div class="generate-evolution-line-select-container">
      <app-button
        [text]="
          'SHARED.COMPONENTS.DEBUG_MODAL.REFRESH_DIGIMON_LIST' | transloco
        "
        color="primary"
        (onClick)="refreshDigimonList()"
      />
    </div>
    <div>
      {{ "SHARED.COMPONENTS.DEBUG_MODAL.TOTAL" | transloco }}:
      {{ totalDigimonAmount }}
    </div>
  </div>
</app-digimon-selection-modal>

<app-digimon-selection-modal
  [id]="seeEvolutionTreeModalId"
  [digimonList]="selectableDigimonList()"
  (onSelectDigimon)="openEvolutionTreeModal($event)"
>
  <app-button
    [text]="'SHARED.COMPONENTS.DEBUG_MODAL.REFRESH_DIGIMON_LIST' | transloco"
    color="primary"
    (onClick)="refreshDigimonList()"
  />
</app-digimon-selection-modal>

<app-evolution-tree-modal
  [id]="evolutionTreeModalId"
  [mainDigimon]="selectedEvolutionLineDigimon()"
/>
