<app-modal [id]="debugModalId" (openEvent)="onOpen()" (closeEvent)="onClose()">
  <div class="debug-modal-container">
    <h3 class="section-title">Debug</h3>
    <div class="debug-modal-content">
      @for (tool of tools; track $index) {
      <div class="debug-modal-content-row">
        <app-button
          text="{{ tool.name }}"
          color="danger"
          (onClick)="tool.action()"
        />
      </div>
      }
    </div>
  </div>
</app-modal>

<app-digimon-selection-modal
  [id]="giveSelectedDigimonModalId"
  [digimonList]="selectableDigimonList()"
  (onSelectDigimon)="giveSelectedDigimon($event)"
>
  <div class="options-container">
    <div class="level-select-container">
      <label for="level-select">Select level:</label>
      <input
        type="number"
        id="level-select"
        name="level-select"
        class="level-select-input"
        min="1"
        max="100"
        [maxlength]="3"
        [(ngModel)]="selectedLevel"
        (ngModelChange)="validateLevel($event)"
      />
    </div>
    <div class="generate-evolution-line-select-container">
      <app-checkbox
        label="Generate evolution line"
        [(ngModel)]="generateEvolutionLine"
      />
    </div>
    <div class="generate-evolution-line-select-container">
      <app-button
        text="Refresh digimon list"
        color="primary"
        (onClick)="refreshDigimonList()"
      />
    </div>
    <div>Total: {{ totalDigimonAmount }}</div>
  </div>
</app-digimon-selection-modal>

<app-digimon-selection-modal
  [id]="seeEvolutionTreeModalId"
  [digimonList]="selectableDigimonList()"
  (onSelectDigimon)="openEvolutionTreeModal($event)"
>
  <app-button
    text="Refresh digimon list"
    color="primary"
    (onClick)="refreshDigimonList()"
  />
</app-digimon-selection-modal>

<app-evolution-tree-modal
  [id]="evolutionTreeModalId"
  [mainDigimon]="selectedEvolutionLineDigimon()"
/>
