app-modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1000;

  .modal-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    color: white;

    .inner-container {
      display: flex;
      justify-content: end;
      padding: 10px 20px 5px 20px;
      z-index: 1001;

      .close-button {
        cursor: var(--cursor-pointer);
        font-size: 28px;
        font-weight: bold;
        width: 45px;
        height: 45px;
        line-height: 40px;
        text-align: center;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 10px;
        user-select: none;
        transition: background 0.3s;

        &:hover {
          background: rgba(255, 255, 255, 0.25);
        }
      }
    }

    .content-container {
      display: flex;
      flex-direction: column;
      padding: 0 20px 20px;
      overflow-y: auto;
      flex: 1;
      z-index: 1001;
    }
  }

  .modal-background {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
    z-index: 900;
  }
}

@media (max-width: 1366px) {
  .modal-container {
    .inner-container {
      padding: 5px 10px 5px 10px;
    }

    .content-container {
      padding: 0 10px 10px;
    }
  }

  .close-button {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 35px;
  }
}

@media (max-width: 767px) {
  .modal-container {
    .inner-container {
      padding: 5px 10px 5px 10px;
    }

    .content-container {
      padding: 0 10px 10px;
    }
  }

  .close-button {
    font-size: 22px;
    width: 35px;
    height: 35px;
    line-height: 30px;
  }

  .modal-background {
    backdrop-filter: blur(8px);
  }
}
