 @use '@variables' as *;

.my-digimon-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-image: linear-gradient(to right bottom,
      rgba($secondary-dark, 0.7),
      rgba($secondary-light, 0.7),
    );
  color: white;
  padding: 10px;
  width: 200px;
  height: fit-content;
  overflow: visible;
  gap: 10px;

  &:hover {
    background-color: rgba(white, 0.5);
    cursor: pointer;
  }

  .my-digimon-card-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
      max-width: 100px;
      height: 100px;
      object-fit: scale-down;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &-name {
    background-color: rgba(black, 0.7);
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-attributes {
    font-size: 11px;
    display: flex;
    align-items: flex-start;
    width: -webkit-fill-available;
    padding-left: 3px;
    flex-direction: column;
    gap: 1px;

    .low-stat {
      color: yellow;
    }

    .zero-stat {
      color: red;
    }
  }
}

.modifications {
  position: relative;
  color: white;
  overflow: visible;

  &-item {
    position: absolute;
    right: 1px;
  }

  .damage {
    color: red;
  }

  .healing {
    color: rgb(28, 230, 28);
  }
}
