.my-digimon-card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(#494949, 0.9);
  padding: 10px;
  overflow: hidden;
  height: 100%;

  &:hover {
    background-color: rgba(black, 0.7);
    cursor: pointer;
  }

  .my-digimon-card-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
      max-width: 50px;
      max-height: 50px;
      object-fit: cover;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
  }

  &-name {
    font-size: 16px;
    font-weight: 700;
  }

  &-attributes {
    font-size: 11px;
    display: flex;
    gap: 15px;
  }
}
