<div class="my-digimon-card">
  <div class="my-digimon-card-image">
    <img [src]="digimon().img" [alt]="digimon().name" />
  </div>
  <div class="my-digimon-card-content">
    <span class="my-digimon-card-name">
      <span> Lv. {{ digimon().level }} </span
      >{{ digimon().nickName ? digimon().nickName : digimon().name }}
    </span>
    <div class="my-digimon-card-attributes">
      <span
        >HP:
        <span
          [ngClass]="{
            'low-stat':
              digimon().currentHp <= 0.2 * digimon().maxHp &&
              digimon().currentHp > 0,
            'zero-stat': digimon().currentHp === 0
          }"
          >{{ digimon().currentHp }}</span
        >
        / {{ digimon().maxHp }}</span
      >
      <span
        >MP:
        <span
          [ngClass]="{
            'low-stat':
              digimon().currentMp <= 0.2 * digimon().maxHp &&
              digimon().currentMp > 0,
            'zero-stat': digimon().currentMp === 0
          }"
          >{{ digimon().currentMp }}</span
        >
        / {{ digimon().maxMp }}</span
      >
    </div>
  </div>
</div>
