<div class="lab">
  <div class="lab__title">
    <h1>DIGILAB</h1>
    <div class="lab__title-bits">
      <span class="lab__title-bits-text">
        <app-icon
          [name]="'bits'"
          scale="4"
        />
        Bits:
      </span>
      <span class="lab__title-bits-amount">{{
        globalState.playerDataAcessor.bits
      }}</span>
    </div>
  </div>
  <div class="lab__content">
    @for (digimon of labDigimons(); track $index) {
    <div class="lab__content-card">
      <div class="lab__content-card-body">
        <div class="lab__content-card-body-image">
          <img [src]="digimon.img" [alt]="digimon.name" />
        </div>
        <div class="lab__content-card-body-text">
          <span class="lab__content-card-body-text-name">{{
            digimon.name
          }}</span>
          <span class="lab__content-card-body-text-rank"
            >Rank: {{ digimon.rank }}</span
          >
          <span class="lab__content-card-body-text-cost"
            >Cost: {{ digimon.cost }} bits</span
          >
          <div class="lab__content-card-body-text-convert-bar">
            <span
              [ngClass]="{
                'lab__content-card-body-text-convert-bar__percent--complete':
                  digimon.amount >= 100,
                'lab__content-card-body-text-convert-bar__percent--incomplete':
                  digimon.amount < 100
              }"
            >
              {{ digimon.amount }}%
            </span>
            <div class="lab__content-card-body-text-convert-bar-progress">
              <div
                class="lab__content-card-body-text-convert-bar-progress-fill"
                [ngStyle]="{ width: digimon.amount + '%' }"
              ></div>
            </div>
          </div>
          <app-button
            [text]="'MODULES.LAB.CONVERT' | transloco"
            weight="bold"
            icon="convert"
            iconScale="2"
            color="secondary"
            [disabled]="
              digimon.amount < 100 ||
              globalState.playerDataAcessor.bits < digimon.cost
            "
            (onClick)="convertDigiData(digimon)"
          />
        </div>
      </div>
    </div>
    }
  </div>
</div>
