<div class="lab">
  <div class="lab__title">
    <div class="lab__title-progress">
      <span
        >{{ "MODULES.LAB.FOUND_DIGIMONS" | transloco }}:
        {{ labDigimons().length }}</span
      >
      <span>
        {{ "MODULES.LAB.OBTAINED_DIGIMONS" | transloco }}:
        {{ obtainedDigimonsAmount() }}</span
      >
    </div>
    <h1>DIGILAB</h1>
    <div class="lab__title-bits">
      <span class="lab__title-bits-text">
        <app-icon [name]="'bits'" scale="4" />
        Bits:
      </span>
      <span class="lab__title-bits-amount">{{
        globalState.playerDataView().bits | number : "1.0-0"
      }}</span>
    </div>
  </div>
  <div class="lab__filters">
    <div class="lab__filters-group lab__filters-sort">
      <label>{{ "MODULES.LAB.SORT_BY" | transloco }}</label>
      <app-select [options]="sortOptions()" [(ngModel)]="sortBy"></app-select>
      <app-button
        [text]="'MODULES.LAB.CHANGE_ORDER' | transloco"
        (click)="sortDirection.set(sortDirection() === 'asc' ? 'desc' : 'asc')"
      >
      </app-button>
    </div>

    <div class="lab__filters-group lab__filters-ranks">
      <label>{{ "MODULES.LAB.FILTER_RANK" | transloco }}</label>
      <div class="lab__filters-ranks-list">
        <form [formGroup]="rankForm()">
          @for (rank of uniqueRanks(); track rank) {
          <app-checkbox [label]="rank" formControlName="{{ rank }}">
          </app-checkbox>
          }
        </form>
      </div>
    </div>

    <div class="lab__filters-group lab__filters-others">
      <app-checkbox
        [label]="'MODULES.LAB.FILTER_OBTAINED' | transloco"
        [(ngModel)]="filterObtained"
      >
      </app-checkbox>

      <app-button
        [text]="'MODULES.LAB.RESET_FILTERS' | transloco"
        class="lab__filters-reset"
        (click)="resetFilters()"
      >
      </app-button>
    </div>
  </div>
  <div class="lab__content">
    @for (digimon of filteredDigimons(); track $index) {
    <div class="lab__content-card">
      <div class="lab__content-card-body">
        @if (digimon.obtained) {
        <div class="lab__content-card-body-obtained-container">
          <div
            class="lab__content-card-body-obtained-check"
            [appTooltip]="'MODULES.LAB.OBTAINED' | transloco"
            [tooltipDirection]="'bottom'"
          ></div>
        </div>
        }
        <div class="lab__content-card-body-image">
          <img
            [src]="digimon.img"
            [alt]="digimon.name"
            [ngStyle]="{ opacity: digimon.obtained ? 1 : 0.5 }"
          />
        </div>
        <div class="lab__content-card-body-text">
          <span class="lab__content-card-body-text-name">{{
            digimon.name
          }}</span>
          <span class="lab__content-card-body-text-rank"
            >Rank: {{ digimon.rank }}</span
          >
          <span class="lab__content-card-body-text-cost"
            >Cost: {{ digimon.cost }} bits</span
          >
          <div class="lab__content-card-body-text-convert-bar">
            <span
              [ngClass]="{
                'lab__content-card-body-text-convert-bar__percent--complete':
                  digimon.amount >= 100,
                'lab__content-card-body-text-convert-bar__percent--incomplete':
                  digimon.amount < 100
              }"
            >
              {{ digimon.amount }}%
            </span>
            <div class="lab__content-card-body-text-convert-bar-progress">
              <div
                class="lab__content-card-body-text-convert-bar-progress-fill"
                [ngStyle]="{ width: digimon.amount + '%' }"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="lab__content-card-buttons">
        <app-button
          [appTooltip]="'MODULES.LAB.SHOW_EVOLUTIONS' | transloco"
          weight="bold"
          icon="graph"
          iconScale="2"
          color="secondary"
          (onClick)="showEvolutionsForDigimon(digimon)"
        >
        </app-button>
        <app-button
          [appTooltip]="'MODULES.LAB.CONVERT' | transloco"
          weight="bold"
          icon="convert"
          iconScale="2"
          color="secondary"
          [disabled]="
            digimon.amount < 100 ||
            globalState.playerDataView().bits < digimon.cost
          "
          (onClick)="convertDigiData(digimon)"
        />
      </div>
    </div>
    }
  </div>
</div>
