.digimon-farm-card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--dark-transparent);
  color: var(--text-on-dark);
  backdrop-filter: blur(2px);
  padding: 10px;
  width: 200px;
  height: fit-content;
  min-height: 210px;
  overflow: visible;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--primary-dark-transparent);
    cursor: pointer;

    .digimon-farm-card-name {
      background-color: var(--secondary-light-transparent);
    }
  }

  .digimon-farm-card-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
      max-width: 100px;
      height: 100px;
      object-fit: scale-down;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &-name {
    background-color: var(--primary-light-transparent);
    color: var(--text);
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background-color 0.3s ease;
  }

  &-attributes {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    padding-left: 3px;
    gap: 5px;
  }
}

:host-context(.theme-crest-of-hope) {
  .digimon-farm-card {
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      color: var(--text-on-secondary);
      background-color: var(--secondary-dark);

      .digimon-farm-card-name {
        color: var(--text-on-danger);
        background-color: var(--danger);
      }
    }

    &-name {
      color: var(--text-on-secondary);
      background-color: var(--primary);
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  }
}

.delete-button {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--danger);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  z-index: 10;
}

.digimon-attribute {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 2px;
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1366px) {
  .digimon-farm-card {
    width: 165px;
    min-height: 165px;

    .digimon-farm-card-image img {
      max-width: 80px;
      height: 80px;
    }

    .digimon-farm-card-name {
      font-size: 12px;
    }

    .digimon-farm-card-attributes {
      font-size: 12px;
    }
  }
}
