<div
  tabindex="0"
  class="digimon-farm-card"
  [ngStyle]="{ filter: digimon().currentHp <= 0 ? 'brightness(0.6)' : '' }"
>
  <div class="digimon-farm-card-image">
    <img [src]="digimon().img" [alt]="digimon().name" />
  </div>
  <div class="digimon-farm-card-content">
    <span class="digimon-farm-card-name">
      <span> Lv. {{ digimon().level }} </span>
      {{ digimon().nickName ? digimon().nickName : digimon().name }}
    </span>
    <div
      class="digimon-farm-card-attributes"
      [ngStyle]="{
        'text-decoration': digimon().currentHp <= 0 ? 'line-through' : 'none'
      }"
    >
      <span>{{
        "MODULES.DESKTOP.COMPONENTS.FARM_SECTION.BITS_PER_MINUTE" | transloco
      }}</span>
      <span>{{ digimon().bitFarmingRate }}</span>
    </div>
  </div>
</div>
