<app-modal [id]="configModalId">
  <form [formGroup]="form" class="config-modal-container">
    <h3 class="section-title">
      {{ "COMMON.ACTION_BAR.CONFIG_MODAL.TITLE" | transloco }}
    </h3>

    <div class="config-modal-content">
      <div class="config-item">
        <app-checkbox
          class="config-label"
          [label]="
            'COMMON.ACTION_BAR.CONFIG_MODAL.TOGGLE_FULLSCREEN.LABEL' | transloco
          "
          formControlName="toggleFullscreen"
        >
        </app-checkbox>
        <p class="config-description">
          {{
            "COMMON.ACTION_BAR.CONFIG_MODAL.TOGGLE_FULLSCREEN.DESCRIPTION"
              | transloco
          }}
        </p>
      </div>

      <div class="config-item">
        <app-checkbox
          class="config-label"
          [label]="
            'COMMON.ACTION_BAR.CONFIG_MODAL.ENABLE_AUDIO.LABEL' | transloco
          "
          formControlName="enableAudio"
        >
        </app-checkbox>
        <p class="config-description">
          {{
            "COMMON.ACTION_BAR.CONFIG_MODAL.ENABLE_AUDIO.DESCRIPTION"
              | transloco
          }}
        </p>
      </div>

      <div class="config-item">
        <app-checkbox
          class="config-label"
          [label]="
            'COMMON.ACTION_BAR.CONFIG_MODAL.ENABLE_LOCAL_AI.LABEL' | transloco
          "
          formControlName="enableLocalAi"
        >
        </app-checkbox>

        <p class="config-description">
          {{
            "COMMON.ACTION_BAR.CONFIG_MODAL.ENABLE_LOCAL_AI.DESCRIPTION"
              | transloco
          }}
        </p>

        @if (configState.ollamaInstalled()) {
          <span class="installed-label">{{
            "COMMON.ACTION_BAR.CONFIG_MODAL.ENABLE_LOCAL_AI.OLLAMA_INSTALLED"
              | transloco
          }}</span>
        } @else {
          <a (click)="openOllamaPage()">
            {{
              "COMMON.ACTION_BAR.CONFIG_MODAL.ENABLE_LOCAL_AI.INSTALL_OLLAMA"
                | transloco
            }}
          </a>
        }

        @if (!configState.ollamaInstalled()) {
          <a class="disabled-link">
            {{
              "COMMON.ACTION_BAR.CONFIG_MODAL.ENABLE_LOCAL_AI.INSTALL_MODEL"
                | transloco
            }}
          </a>
        } @else if (configState.modelInstalled()) {
          <span class="installed-label">
            {{
              "COMMON.ACTION_BAR.CONFIG_MODAL.ENABLE_LOCAL_AI.MODEL_INSTALLED"
                | transloco
            }}
          </span>
        } @else if (configState.modelInstalling()) {
          <span class="installing-label">
            {{
              "COMMON.ACTION_BAR.CONFIG_MODAL.ENABLE_LOCAL_AI.INSTALL_MODEL_PROGRESS"
                | transloco: { progress: configState.modelProgress() }
            }}
          </span>
        } @else {
          <a (click)="installAIModel()">
            {{
              "COMMON.ACTION_BAR.CONFIG_MODAL.ENABLE_LOCAL_AI.INSTALL_MODEL"
                | transloco
            }}
          </a>
        }
      </div>

      <div class="config-item">
        <app-select
          [label]="'COMMON.ACTION_BAR.CONFIG_MODAL.LANGUAGE.LABEL' | transloco"
          [options]="languageOptions"
          formControlName="selectedLanguage"
        >
        </app-select>
      </div>

      <div class="config-item">
        <app-select
          [label]="'COMMON.ACTION_BAR.CONFIG_MODAL.THEME.LABEL' | transloco"
          [options]="themeOptions()"
          formControlName="selectedTheme"
        >
        </app-select>
      </div>

      <div class="delete-data-container">
        <span class="config-item-label">
          {{
            "COMMON.ACTION_BAR.CONFIG_MODAL.DELETE_DATA_MODAL.DELETE_SAVED_DATA"
              | transloco
          }}
        </span>
        <app-button
          icon="trash"
          color="warning"
          (click)="openDeleteDataConfirmationModal()"
        />
      </div>
    </div>
  </form>
</app-modal>
