<app-modal [id]="configModalId">
  <form [formGroup]="form" class="config-modal-container">
    <h3 class="section-title">
      {{ "COMMON.ACTION_BAR.CONFIG_MODAL.TITLE" | transloco }}
    </h3>

    <div class="config-modal-content">
      <div class="config-item">
        <app-checkbox
          [label]="
            'COMMON.ACTION_BAR.CONFIG_MODAL.TOGGLE_FULLSCREEN.LABEL' | transloco
          "
          formControlName="toggleFullscreen"
        >
        </app-checkbox>
        <p class="config-description">
          {{
            "COMMON.ACTION_BAR.CONFIG_MODAL.TOGGLE_FULLSCREEN.DESCRIPTION"
              | transloco
          }}
        </p>
      </div>

      <div class="config-item">
        <app-checkbox
          [label]="
            'COMMON.ACTION_BAR.CONFIG_MODAL.ENABLE_AUDIO.LABEL' | transloco
          "
          formControlName="enableAudio"
        >
        </app-checkbox>
        <p class="config-description">
          {{
            "COMMON.ACTION_BAR.CONFIG_MODAL.ENABLE_AUDIO.DESCRIPTION"
              | transloco
          }}
        </p>
      </div>

      <div class="config-item">
        <app-select
          [label]="'COMMON.ACTION_BAR.CONFIG_MODAL.LANGUAGE.LABEL' | transloco"
          [options]="languageOptions"
          formControlName="selectedLanguage"
        >
        </app-select>
      </div>

      <div class="config-item">
        <app-select
          [label]="'COMMON.ACTION_BAR.CONFIG_MODAL.THEME.LABEL' | transloco"
          [options]="themeOptions()"
          formControlName="selectedTheme"
        >
        </app-select>
      </div>
    </div>
  </form>
</app-modal>
