main {
  font-family: 'Roboto', sans-serif;
  height: -webkit-fill-available;
}

.content {
  display: flex;
  flex-direction: row;
  height: -webkit-fill-available;

  app-action-bar {
    z-index: 999;
  }
}
