<app-modal
  [id]="battleModalId"
  [closable]="!globalState.isBattleActive"
  (closeEvent)="onBattleModalClose()"
>
  <div class="digimon-battle-container">
    <h3 class="section-title">
      {{ "SHARED.COMPONENTS.BATTLE_MODAL.TITLE" | transloco }}
    </h3>
    <div
      class="digimon-battle-content"
      [ngClass]="{
        'digimon-battle-content-colored-background': !imageBackground()
      }"
      [ngStyle]="{
        'background-image': imageBackground()
          ? 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' +
            imageBackground() +
            ')'
          : 'none',
        'background-size': 'cover',
        'background-position': 'center'
      }"
    >
      <div class="turn-order-container">
        <div class="turn-order">
          <h4 class="turn-order-title">
            {{ "SHARED.COMPONENTS.BATTLE_MODAL.TURN_ORDER_TITLE" | transloco }}
          </h4>
          @for(digimon of globalState.turnOrder; track digimon.seed + $index){
          <div
            class="turn-order-digimon"
            [ngClass]="{
              'player-digimon': digimon.owner === 'player',
              'enemy-digimon': digimon.owner === 'enemy'
            }"
          >
            <img
              [src]="digimon.img"
              alt="digimon"
              class="turn-order-digimon-image"
            />
            <div class="turn-order-digimon-info">
              <div class="turn-order-digimon-name">{{ digimon.name }}</div>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="digimon-battle-content-container">
        <div class="teams-container">
          <div class="player-team-container">
            <h4 class="team-title">
              {{
                "SHARED.COMPONENTS.BATTLE_MODAL.PLAYER_TEAM_TITLE" | transloco
              }}
            </h4>
            <div class="player-team">
              @for(digimon of globalState.playerDataAcessor.digimonList; track
              digimon.id){
              <div class="digimon-container">
                <span
                  class="action-indicator"
                  [style]="{
                    visibility:
                      globalState.currentAttackingDigimon()?.id ===
                        digimon.id ||
                      globalState.currentDefendingDigimon()?.id === digimon.id
                        ? 'visible'
                        : 'hidden'
                  }"
                >
                  @if(globalState.currentAttackingDigimon()?.id === digimon.id)
                  { 🔽 } @if(globalState.currentDefendingDigimon()?.id ===
                  digimon.id) { 💥 }
                </span>
                <app-digi-status-card [digimon]="digimon" />
              </div>
              }
            </div>
          </div>
          <span class="middle-panel">
            @if(globalState.isBattleActive) {
            <span style="text-align: center"
              >{{
                globalState.currentAttackingDigimon()?.owner === "player"
                  ? ("SHARED.COMPONENTS.BATTLE_MODAL.PLAYER_TURN"
                    | transloco
                      : {
                          playerName: globalState.playerDataAcessor.name
                        })
                  : ("SHARED.COMPONENTS.BATTLE_MODAL.ENEMY_TURN" | transloco)
              }}</span
            >
            }
            <span>VS</span>
            @if(globalState.showPlayerAttackButton() &&
            !isChoosingDigimonToAttack() && globalState.isBattleActive) {
            <div class="player-actions-container">
              <app-button
                [text]="
                  'SHARED.COMPONENTS.BATTLE_MODAL.ATTACK_BUTTON' | transloco
                "
                icon="sword"
                iconScale="1.5"
                iconPosition="right"
                (onClick)="onClickAttack()"
              />
              <app-button
                [text]="
                  'SHARED.COMPONENTS.BATTLE_MODAL.RUN_AWAY_BUTTON' | transloco
                "
                icon="run-away"
                iconScale="1.5"
                color="danger"
                iconPosition="right"
                [disabled]="!globalState.isBattleActive"
                (onClick)="attemptRunAway()"
              />
            </div>
            } @if(isChoosingDigimonToAttack() && globalState.isBattleActive) {
            <div class="player-actions-container">
              <app-button
                [text]="
                  'SHARED.COMPONENTS.BATTLE_MODAL.CANCEL_ATTACK_BUTTON'
                    | transloco
                "
                icon="cancel"
                iconScale="1.6"
                color="secondary"
                iconPosition="right"
                (onClick)="cancelAttack()"
              />
            </div>
            }
          </span>
          <div class="enemy-team-container">
            <h4 class="team-title">
              {{
                "SHARED.COMPONENTS.BATTLE_MODAL.ENEMY_TEAM_TITLE" | transloco
              }}
            </h4>
            <div class="enemy-team">
              @for(digimon of globalState.enemyTeamAccessor; track digimon.id){
              <div class="digimon-container">
                <span
                  class="action-indicator"
                  [style]="{
                    visibility:
                      globalState.currentAttackingDigimon()?.id ===
                        digimon.id ||
                      globalState.currentDefendingDigimon()?.id === digimon.id
                        ? 'visible'
                        : 'hidden'
                  }"
                >
                  @if(globalState.currentAttackingDigimon()?.id === digimon.id)
                  { 🔽 } @if(globalState.currentDefendingDigimon()?.id ===
                  digimon.id) { 💥 }
                </span>
                <app-digi-status-card
                  [digimon]="digimon"
                  (click)="playerAttack(digimon)"
                  [ngClass]="{
                    selectable:
                      isChoosingDigimonToAttack() && digimon.currentHp > 0
                  }"
                />
              </div>
              }
            </div>
          </div>
        </div>
        <div class="battle-log-container">
          <h4 class="battle-log-title">
            {{ "SHARED.COMPONENTS.BATTLE_MODAL.BATTLE_LOG_TITLE" | transloco }}
          </h4>
          @for(log of this.globalState.battleLogAccessor.slice().reverse();
          track $index){
          <span class="battle-log">▶ {{ log }}</span>
          }
        </div>
      </div>
    </div>
  </div>
</app-modal>
