<app-modal [id]="battleModalId" (closeEvent)="onBattleModalClose()">
  <div class="digimon-battle-container">
    <h3 class="section-title">Battle</h3>
    <div class="digimon-battle-content">
      <div class="digimon-battle-content-container">
        <div class="teams-container">
          <div class="player-team-container">
            <h4 class="team-title">Player Team</h4>
            <div class="player-team">
              @for(digimon of globalState.playerDataAcessor.digimonList; track
              digimon.id){
              <app-digi-status-card [digimon]="digimon" />
              }
            </div>
          </div>
          <span class="middle-panel">
            <span>VS</span>
            @if(globalState.showPlayerAttackButton() &&
            globalState.isBattleActive) {
            <app-button
              text="Attack"
              icon="ph-sword"
              weight="bold"
              iconPosition="right"
              (click)="playerAttack()"
            />
            }
          </span>
          <div class="enemy-team-container">
            <h4 class="team-title">Enemy Team</h4>
            <div class="enemy-team">
              @for(digimon of globalState.enemyTeamAccessor; track digimon.id){
              <app-digi-status-card [digimon]="digimon" />
              }
            </div>
          </div>
        </div>
        <div class="battle-log-container">
          <h4 class="battle-log-title">Battle Log</h4>
          @for(log of this.globalState.battleLogAccessor; track $index){
          <span class="battle-log">▶ {{ log }}</span>
          }
        </div>
      </div>
    </div>
  </div>
</app-modal>
