.filters-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;

  app-checkbox {
    padding: 10px;
    background: var(--secondary-dark-transparent);
    border-radius: 10px;
  }
}

app-input {
  width: 100%;
  max-width: 400px;
}
