.player-info-container {
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  padding: 20px 60px 20px 60px;
  gap: 20px;
  border-radius: 10px;
  color: black;
  align-self: center;
  justify-self: center;

  .player-info-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid black;
      margin-top: -80px;
    }
  }

  .player-info-content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: space-evenly;
  }
}
