<app-modal [id]="playerInfoModalId">
  <div class="player-info-modal-container">
    <div class="player-info-container">
      <div class="player-info-header">
        <img src="assets/Tai.webp" alt="player avatar" class="avatar" />
        <h2 class="player-name">{{ globalState.playerDataView().name }}</h2>
      </div>
      <div class="player-info-content">
        <div class="info-item">
          <span class="label"
            >{{ "SHARED.COMPONENTS.PLAYER_INFO_MODAL.BITS" | transloco }}:</span
          >
          <span class="value">{{
            globalState.playerDataView().bits | localizedNumber
          }}</span>
        </div>
        <div class="info-item">
          <span class="label"
            >{{
              "SHARED.COMPONENTS.PLAYER_INFO_MODAL.LEVEL" | transloco
            }}:</span
          >
          <span class="value">{{ globalState.playerDataView().level }}</span>
        </div>
        <div class="info-item">
          <span class="label"
            >{{
              "SHARED.COMPONENTS.PLAYER_INFO_MODAL.CURRENT_EXP" | transloco
            }}:</span
          >
          <span class="value">
            {{ globalState.playerDataView().exp | localizedNumber }} /
            {{ neededExpForNextLevel() | localizedNumber }}
          </span>
        </div>
        <div class="info-item">
          <span class="label"
            >{{
              "SHARED.COMPONENTS.PLAYER_INFO_MODAL.TOTAL_EXP" | transloco
            }}:</span
          >
          <span class="value">{{
            globalState.playerDataView().totalExp | localizedNumber
          }}</span>
        </div>
        <div class="info-item">
          <span class="label"
            >{{
              "SHARED.COMPONENTS.PLAYER_INFO_MODAL.TOTAL_DIGIMONS" | transloco
            }}:</span
          >
          <span class="value">{{
            globalState.totalDigimonCount | localizedNumber
          }}</span>
        </div>
      </div>
    </div>
  </div>
</app-modal>
