<app-modal [id]="playerInfoModalId">
  <div class="player-info-container">
    <div class="player-info-header">
      <img src="assets/Tai.webp" alt="player" class="avatar" />
      <h2>{{ globalState.playerDataAcessor.name }}</h2>
    </div>
    <div class="player-info-content">
      <span>Bits: {{ globalState.playerDataAcessor.bits | number : "1.0-0" }}</span>
      <span>Level: {{ globalState.playerDataAcessor.level }}</span>
      <span
        >Current Exp: {{ globalState.playerDataAcessor.exp | number : "1.0-0" }} /
        {{ neededExpForNextLevel()| number : "1.0-0" }}</span
      >
      <span>Total Exp: {{ globalState.playerDataAcessor.totalExp | number : "1.0-0" }} </span>
      <span>Total Digimon Count: {{ globalState.totalDigimonCount | number : "1.0-0" }}</span>
    </div>
  </div>
</app-modal>
