<div class="evolution-route">
  <div class="avatars-row">
    @for (digimon of evolutionRoute(); track digimon.seed; let index = $index) {
    <div
      class="evolution-stage-avatar"
      [appTooltip]="digimon.name + ' - ' + digimon.rank"
    >
      <div class="digimon-avatar">
        <img class="digimon-image" [src]="digimon.img" [alt]="digimon.name" />
      </div>
    </div>
    @if (index < evolutionRoute().length - 1) {
    <div class="evolution-connector"></div>
    } }
  </div>
</div>
