.toast-container {
  position: fixed;
  right: 20px;
  z-index: 1001;

  &.top {
    top: 20px;
  }

  &.bottom {
    bottom: 20px;
  }
}

.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: var(--dark);
  color: var(--text);
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }

  &.success {
    background-color: var(--success);
    color: var(--text-on-success);

    &:hover {
      background-color: var(--success-dark);
    }
  }

  &.error {
    background-color: var(--danger);
    color: var(--text-on-danger);

    &:hover {
      background-color: var(--danger-hover);
    }
  }

  &.info {
    background-color: var(--info);
    color: var(--text-on-info);

    &:hover {
      background-color: var(--info-hover);
    }
  }
}
