<app-modal
  [id]="evolutionTreeModalId"
  (openEvent)="onOpen()"
  (closeEvent)="onClose()"
>
  <div class="evolution-tree-container">
    <div class="evolution-tree-header">
      <h2>{{ mainDigimon()?.name }}</h2>
    </div>
    <div class="evolution-tree-content">
      <div class="evolution-tree-graph-container">
        <div id="evolutionTreeWrapper"></div>
      </div>
      <div class="selected-digimon-container">
        <div class="selected-digimon-header">
          <div class="selected-digimon-image">
            @if(selectedDigimon()) {
            <img [src]="selectedDigimon()?.img" alt="selected-digimon" />
            } @else {
            <span class="placeholder">Select a digimon to view its stats</span>
            }
          </div>
          <h2>{{ selectedDigimon()?.name }}</h2>
        </div>
        <div class="selected-digimon-content">
          <div class="selected-digimon-info">
            <div class="selected-digimon-info-item">
              <span class="label">Rank:</span>
              <span class="value">{{ selectedDigimon()?.rank ?? "-" }}</span>
            </div>
            <div class="selected-digimon-info-item">
              <span class="label">Species:</span>
              <span class="value">{{ selectedDigimon()?.species ?? "-" }}</span>
            </div>
            <div class="selected-digimon-info-item">
              <span class="label">HP:</span>
              <span class="value">{{ selectedDigimon()?.hp ?? "-" }}</span>
            </div>
            <div class="selected-digimon-info-item">
              <span class="label">MP:</span>
              <span class="value">{{ selectedDigimon()?.mp ?? "-" }}</span>
            </div>
            <div class="selected-digimon-info-item">
              <span class="label">ATK:</span>
              <span class="value">{{ selectedDigimon()?.atk ?? "-" }}</span>
            </div>
            <div class="selected-digimon-info-item">
              <span class="label">DEF:</span>
              <span class="value">{{ selectedDigimon()?.def ?? "-" }}</span>
            </div>
            <div class="selected-digimon-info-item">
              <span class="label">SPD:</span>
              <span class="value">{{ selectedDigimon()?.speed ?? "-" }}</span>
            </div>
            <div class="selected-digimon-info-item">
              <span class="label">Bits per minute:</span>
              <span class="value">{{
                selectedDigimon()?.bitFarmingRate ?? "-"
              }}</span>
            </div>
            <div class="selected-digimon-info-requirements">
              <span class="label">Evolution requirements:</span>
              <div class="requirements-list">
                @for (requirement of selectedDigimon()?.evolutionRequirements;
                track $index) {
                <span>{{ requirement.type }}: {{ requirement.value }}</span>
                }
              </div>
            </div>
          </div>
          @if(selectedDigimon() && canEvolve()) {
          <app-button
            [text]="
              'Evolve ' +
              mainDigimon()?.name +
              ' ' +
              'into ' +
              selectedDigimon()?.name
            "
            (click)="showEvolutionConfirmationModal()"
          />
          }
        </div>
      </div>
    </div>
  </div>
</app-modal>

<app-modal id="evolution-confirmation-modal">
  <div class="evolution-confirmation-container">
    <div class="evolution-confirmation-header">
      <h2>Evolution Confirmation</h2>
      <span>
        Are you sure you want to evolve
        <strong>{{ mainDigimon()?.name }}</strong> into
        <strong>{{ selectedDigimon()?.name }}</strong
        >?
      </span>
      <div class="evolution-confirmation-digimon">
        <div class="evolution-confirmation-digimon-main">
          <img [src]="mainDigimon()?.img" alt="main-digimon" />
        </div>
        <i class="ph-arrow-fat-lines-right ph-bold arrow-icon"></i>
        <div class="evolution-confirmation-digimon-selected">
          <img [src]="selectedDigimon()?.img" alt="selected-digimon" />
        </div>
      </div>
    </div>
    <div class="evolution-confirmation-content">
      <div class="evolution-confirmation-content-info">
        @if(mainDigimon() && selectedDigimon()) {

        <span>
          HP: {{ mainDigimon()?.maxHp }} ->
          <span class="new-value"
            >{{ selectedPossibleEvolutionStats()?.maxHp }} ↑</span
          >
        </span>
        <span>
          MP: {{ mainDigimon()?.maxMp }} ->
          <span class="new-value"
            >{{ selectedPossibleEvolutionStats()?.maxMp }} ↑</span
          >
        </span>
        <span>
          ATK: {{ mainDigimon()?.atk }} ->
          <span class="new-value"
            >{{ selectedPossibleEvolutionStats()?.atk }} ↑</span
          >
        </span>
        <span>
          DEF: {{ mainDigimon()?.def }} ->
          <span class="new-value"
            >{{ selectedPossibleEvolutionStats()?.def }} ↑</span
          >
        </span>
        <span>
          SPD: {{ mainDigimon()?.speed }} ->
          <span class="new-value"
            >{{ selectedPossibleEvolutionStats()?.speed }} ↑</span
          >
        </span>
        <span>
          Bit Generation: {{ mainDigimon()?.bitFarmingRate }} ->
          <span class="new-value"
            >{{ selectedPossibleEvolutionStats()?.bitFarmingRate }} ↑</span
          >
        </span>
        }
      </div>
      <div class="evolution-confirmation-content-actions">
        <app-button
          text="No"
          [disabled]="isEvolving()"
          (click)="this.modalService.close('evolution-confirmation-modal')"
        />
        <app-button
          text="Yes"
          (click)="evolveDigimon()"
          [disabled]="isEvolving()"
        />
      </div>
    </div>
  </div>
</app-modal>
