@import '../../../../variables';

.evolution-tree-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .evolution-tree-header {
    display: flex;
    justify-content: center;
  }

  .evolution-tree-content {
    display: flex;
    flex-direction: row;
    background: linear-gradient(135deg, $secondary 0%, $primary 100%);
    border-radius: 10px;
    padding: 20px;
    height: 100%;

    .evolution-tree-graph-container {
      width: 70%;
      height: 100%;
      border: 10px solid black;
      border-radius: 10px;

      #evolutionTreeWrapper {
        height: 100%;
      }
    }

    .selected-digimon-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: -webkit-fill-available;
      height: 60%;

      h2 {
        font-size: 2rem;
        color: $primary;
      }
    }

    .selected-digimon-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      margin-left: 20px;
      background: $background;
      border-radius: 10px;

      .selected-digimon-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;

        img {
          height: 250px;
          object-fit: scale-down;
        }

        .placeholder {
          font-size: 1.5rem;
          color: $primary;
        }
      }

      .selected-digimon-content {
        display: flex;
        flex-direction: column;
        padding: 16px;
        width: -webkit-fill-available;

        .selected-digimon-info {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          width: 100%;
          padding: 10px;
          color: $text;

          &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            background: lighten($color: $background, $amount: 5%);
            border-radius: 5px;

            .label {
              font-weight: bold;
              color: $primary;
            }

            .value {
              color: $warning;
            }
          }

          &-requirements {
            grid-column: span 2;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 10px 5px;

            .label {
              font-weight: bold;
              color: $primary;
              margin-bottom: 5px;
            }

            .requirements-list {
              display: flex;
              flex-direction: column;
              gap: 5px;

              span {
                color: $warning;
              }
            }
          }
        }
      }
    }
  }
}

#evolution-confirmation-modal {
  .evolution-confirmation-container {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center;
    background: rebeccapurple;
    padding: 50px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .evolution-confirmation-header {
    text-align: center;
    margin-bottom: 20px;

    h2 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .evolution-confirmation-digimon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;

    .arrow-icon {
      font-size: 45px;
      color: $success;
      animation: moveRight 0.4s infinite;

      @keyframes moveRight {
        0% {
          transform: translateX(0);
        }

        50% {
          transform: translateX(20px);
        }

        100% {
          transform: translateX(0);
        }
      }
    }
  }

  .evolution-confirmation-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;

    &-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 10px;

      span {
        display: flex;
        justify-content: center;
        font-size: 16px;

        strong {
          font-weight: bold;
        }
      }

      .new-value {
        color: $success;
      }
    }

    &-actions {
      display: flex;
      justify-content: center;
      gap: 10px;

      app-button {
        flex: 1;
      }
    }
  }
}
