$highlight-color: #65f695;

.evolution-tree-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .evolution-tree-header {
    display: flex;
    justify-content: center;
  }

  .evolution-tree-content {
    display: flex;
    flex-direction: row;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    border-radius: 10px;
    padding: 20px;
    height: 95%;

    #evolutionTreeWrapper {
      width: 70%;
      height: 100%;
      border: 1px solid black;
      border-radius: 10px;
    }

    .selected-digimon-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      height: 100%;
      padding: 20px;
      border-radius: 10px;
      gap: 10px;

      .selected-digimon-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        border: 3px solid black;
        border-radius: 10px;

        img {
          height: 250px;
          object-fit: scale-down;
        }
      }

      .selected-digimon-content {

        .selected-digimon-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;

          &-row {
            display: flex;
            flex-direction: row;
            gap: 5px;
            justify-content: space-between;
          }

          &-requirements {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

#evolution-confirmation-modal {
  .evolution-confirmation-container {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center;
    background: rebeccapurple;
    padding: 50px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .evolution-confirmation-header {
    text-align: center;
    margin-bottom: 20px;

    h2 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .evolution-confirmation-digimon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;

    .arrow-icon {
      font-size: 45px;
      color: $highlight-color;
      animation: moveRight 0.4s infinite;

      @keyframes moveRight {
        0% {
          transform: translateX(0);
        }

        50% {
          transform: translateX(20px);
        }

        100% {
          transform: translateX(0);
        }
      }
    }
  }

  .evolution-confirmation-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;

    &-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 10px;

      span {
        display: flex;
        justify-content: center;
        font-size: 16px;

        strong {
          font-weight: bold;
        }
      }

      .new-value {
        color: $highlight-color;
      }
    }

    &-actions {
      display: flex;
      justify-content: center;
      gap: 10px;

      app-button {
        flex: 1;
      }
    }
  }
}
