<div class="farm-section">
  <div class="farm-section-container">
    <div class="panel">
      <app-button [text]="'Add digimon to training'" color="secondary" (click)="addDigimonToTraining()"/>
      <div class="in-training-digimon-list">
        @for(digimon of globalState.playerData().inTrainingDigimonList; track digimon){
          <app-digi-status-card [digimon]="digimon" (contextmenu)="removeDigimonFromTraining($event, digimon)" />
        }
      </div>
    </div>
    <div class="panel">
      <app-button [text]="'Add digimon to farm'"/>

      <div class="bit-farming-digimon-list">
        @for(digimon of globalState.playerData().bitFarmDigimonList; track digimon){
          <app-digimon-farm-card [digimon]="digimon" (contextmenu)="removeDigimonFromFarm($event, digimon)" />
        }
      </div>
    </div>
  </div>
</div>
