<div class="farm-section">
  <div class="farm-section-container">
    <div class="panel">
      <div class="in-training-digimon-list">
        <h4>In-Training Digimons</h4>
        @for(digimon of globalState.playerData().inTrainingDigimonList; track digimon){
          <app-digi-status-card [digimon]="digimon" (contextmenu)="removeDigimonFromTraining($event, digimon)" />
        }
      </div>
    </div>
    <div class="panel">
      <div class="bit-farming-digimon-list">
        <h4>Bit Farming Digimons</h4>
        @for(digimon of globalState.playerData().bitFarmDigimonList; track digimon){
          <app-digimon-farm-card [digimon]="digimon" (contextmenu)="removeDigimonFromFarm($event, digimon)" />
        }
      </div>
    </div>
  </div>
</div>
