.farm-section-container {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  align-items: center;
  gap: 10px;

  .label {
    font-weight: 500;
  }

  .farm-section-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--secondary-dark-transparent);
    backdrop-filter: blur(2px);
    width: -webkit-fill-available;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
  }

  .farm-section-header> :first-child {
    grid-column: 1;
    justify-self: start;
  }

  .farm-section-header> :nth-child(2) {
    grid-column: 2;
    justify-self: center;
    align-self: center;
    padding-right: 5px;
  }

  .farm-section-header> :last-child {
    grid-column: 3;
    align-self: center;
    justify-self: end;
  }
}

.farm-section-horizontal {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  align-items: center;
  gap: 15px;
}

.farm-section-vertical {
  display: flex;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  justify-content: center;
  gap: 15px;
  overflow: hidden;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.panel-horizontal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--primary-dark-transparent);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  height: 315px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  box-sizing: border-box;


  .in-training-list-header {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .in-training-digimon-list {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    overflow-x: auto;

    .in-training-digimon-list-container {
      &.cdk-drop-list-dragging {
        .in-training-list-no-data-container {
          display: none;
        }
      }
    }

    .in-training-digimon-list-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      overflow-x: auto;

      app-digi-status-card {
        height: fit-content;
      }
    }

    .in-training-list-no-data-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .bit-farming-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .bit-farming-digimon-list {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    padding: 10px;
    overflow: auto;
    height: -webkit-fill-available;
    box-sizing: border-box;

    .bit-farming-digimon-list-container {
      &.cdk-drop-list-dragging {
        .bit-farming-list-no-data-container {
          display: none;
        }
      }
    }

    .bit-farming-digimon-list-container {
      display: flex;
      gap: 10px;
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      overflow-x: auto;

      app-digimon-farm-card {
        height: fit-content;
      }
    }

    .bit-farming-list-no-data-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .countdown {
    padding: 0 10px;
  }
}

.panel-vertical {
  display: flex;
  flex-direction: column;
  background: var(--primary-dark-transparent);
  backdrop-filter: blur(2px);
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 300px;

  .in-training-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .in-training-digimon-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
    padding: 10px;
    align-items: center;
    height: -webkit-fill-available;
    box-sizing: border-box;

    .in-training-digimon-list-container {
      &.cdk-drop-list-dragging {
        .in-training-list-no-data-container {
          display: none;
        }
      }
    }

    &-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .in-training-list-no-data-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .bit-farming-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .bit-farming-digimon-list {
    display: flex;
    overflow: auto;
    gap: 10px;
    padding: 10px;
    align-items: center;
    height: -webkit-fill-available;
    flex-direction: column;
    align-self: center;
    box-sizing: border-box;

    .bit-farming-digimon-list-container {
      &.cdk-drop-list-dragging {
        .bit-farming-list-no-data-container {
          display: none;
        }
      }
    }

    &-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .bit-farming-list-no-data-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .countdown {
    padding: 0 10px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
