.digimon-storage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  color: var(--text);

  .section-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--primary-light);
  }

  .digimon-storage-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    &-no-data-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
      height: 90%;
    }

    &-list-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, 330px);
      justify-content: space-around;
      gap: 20px;

      .digimon-storage-content-list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        background: var(--dark-hover);
        border: solid 2px var(--secondary-light);
        border-radius: 20px;
        gap: 16px;

        .actions {
          display: flex;
          gap: 10px;
          justify-content: center;
        }
      }
    }

    &-footer {
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 10px;
    }
  }
}

app-modal {
  z-index: 1000;
}
