<app-modal [id]="digimonStorageModalId">
  <div class="digimon-storage-container">
    <h3 class="section-title">
      {{ "SHARED.COMPONENTS.STORAGE_MODAL.TITLE" | transloco }}
    </h3>
    <div class="digimon-storage-content">
      @if(globalState.playerDataAcessor.digimonStorageList.length === 0){
      <div class="digimon-storage-content-no-data-container">
        <h4>{{ "SHARED.COMPONENTS.STORAGE_MODAL.NO_DIGIMON" | transloco }}</h4>
      </div>
      } @else {
      <div class="digimon-storage-content-list-container">
        @for(digimon of globalState.playerDataAcessor.digimonStorageList; track
        digimon){
        <div class="digimon-storage-content-list-item">
          <app-digi-status-card
            [digimon]="digimon"
            (click)="openDigimonDetailsModal(digimon)"
          />
          <div class="actions">
            <app-button
              [appTooltip]="
                'SHARED.COMPONENTS.STORAGE_MODAL.TO_TEAM_BUTTON' | transloco
              "
              tooltipDirection="bottom"
              icon="send"
              iconScale="1.7"
              color="primary"
              (onClick)="addDigimonToTeam(digimon)"
            />
            <app-button
              [appTooltip]="
                'SHARED.COMPONENTS.STORAGE_MODAL.TO_TRAINING_BUTTON' | transloco
              "
              tooltipDirection="bottom"
              icon="dumbell"
              iconScale="1.7"
              color="tertiary"
              (onClick)="addDigimonToTraining(digimon)"
            />
            <app-button
              [appTooltip]="
                'SHARED.COMPONENTS.STORAGE_MODAL.TO_BIT_FARM_BUTTON' | transloco
              "
              tooltipDirection="bottom"
              icon="bit-farm"
              iconScale="1.9"
              color="secondary"
              (onClick)="addDigimonToFarm(digimon)"
            />
            <app-button
              [appTooltip]="
                'SHARED.COMPONENTS.STORAGE_MODAL.TO_HOSPITAL_BUTTON' | transloco
              "
              tooltipDirection="bottom"
              icon="ambulance"
              iconScale="1.7"
              size="xxl"
              color="info"
              (onClick)="addDigimonToHospital(digimon)"
            />
          </div>
        </div>
        }
      </div>
      }
      <div class="digimon-storage-content-footer">
        <span>
          {{ "SHARED.COMPONENTS.STORAGE_MODAL.STORAGE_CAPACITY" | transloco }}
          {{ globalState.playerDataAcessor.digimonStorageList.length }} /
          {{ globalState.playerDataAcessor.digimonStorageCapacity }}
        </span>
      </div>
    </div>
  </div>
</app-modal>
