<div class="explore-section">
  <h4 class="explore-section-title">{{ 'MODULES.ADVENTURE.EXPLORE_SECTION.LOCATIONS_TITLE' | transloco }}</h4>
  <div class="explore-section-container">
    <div class="location-list">
      <div class="location-list-container">
        @for(location of locations; track location){
        <div tabindex="0" class="location-list-item" (click)="exploreLocation(location)">
          <div class="location-list-item-image">
            <img [src]="location.img" alt="location-image" />
          </div>
          <h5>{{ location.name }}</h5>
          <div class="location-list-item-level-range">
            <span>{{ 'MODULES.ADVENTURE.EXPLORE_SECTION.LEVEL' | transloco }} {{ location.levelRange.min }} - {{ location.levelRange.max }}</span>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>

<app-battle-modal [imageBackground]="this.currentLocation()?.img || null" />
