.explore-section {
  display: flex;
  flex-direction: column;

  &-container {
    display: -webkit-inline-box;
    overflow-x: auto;

    .location-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 20px;
      gap: 10px;

      &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 100%;
        padding: 10px;

        .location-list-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: rgba(#494949, 0.9);
          gap: 10px;
          padding: 10px;
          border-radius: 10px;

          &:hover {
            cursor: pointer;
            background-color: rgba(black, 0.7);
          }

          &-image {
            width: 200px;

            img {
              border-radius: 10px;
            }
          }
        }
      }
    }
  }


}
