@use 'sass:color';

.theme-digimon {
  --primary: #FF7A00;
  --primary-light: #{color.adjust(#FF7A00, $lightness: 5%)};
  --primary-dark: #{color.adjust(#FF7A00, $lightness: -5%)};
  --text-on-primary: #FFFFFF;
  --primary-light-transparent: rgba(255, 144, 38, 0.5);
  --primary-dark-transparent: rgba(229, 108, 0, 0.5);

  --secondary: #0056B8;
  --secondary-light: #{color.adjust(#0056B8, $lightness: 5%)};
  --secondary-dark: #{color.adjust(#0056B8, $lightness: -5%)};
  --text-on-secondary: #FFFFFF;
  --secondary-light-transparent: rgba(77, 143, 230, 0.5);
  --secondary-dark-transparent: rgba(0, 61, 128, 0.5);

  --tertiary: #FFD32C;
  --tertiary-light: #{color.adjust(#FFD32C, $lightness: 5%)};
  --tertiary-dark: #{color.adjust(#FFD32C, $lightness: -5%)};
  --text-on-tertiary: #000000;
  --tertiary-light-transparent: rgba(255, 222, 86, 0.5);
  --tertiary-dark-transparent: rgba(229, 184, 0, 0.5);

  --background: #121212;
  --surface: #1e1e1e;
  --text: #FFFFFF;

  --accent: #2563EB;

  --danger: #E74C3C;
  --danger-light: #{color.adjust(#E74C3C, $lightness: 5%)};
  --danger-dark: #{color.adjust(#E74C3C, $lightness: -5%)};
  --text-on-danger: #FFFFFF;

  --success: #2ECC71;
  --success-light: #{color.adjust(#2ECC71, $lightness: 5%)};
  --success-dark: #{color.adjust(#2ECC71, $lightness: -5%)};
  --text-on-success: #FFFFFF;

  --info: #3498DB;
  --info-light: #{color.adjust(#3498DB, $lightness: 5%)};
  --info-dark: #{color.adjust(#3498DB, $lightness: -5%)};
  --text-on-info: #FFFFFF;
}
