@use 'sass:color';

:root {
  --primary: #3D78E7;
  --primary-light: #{color.adjust(#3D78E7, $lightness: 5%)};
  --primary-dark: #{color.adjust(#3D78E7, $lightness: -5%)};
  --text-on-primary: #FFFFFF;
  --primary-light-transparent: rgba(61, 120, 231, 0.5);
  --primary-dark-transparent: rgba(49, 95, 182, 0.5);

  --secondary: #7DA77A;
  --secondary-light: #{color.adjust(#7DA77A, $lightness: 5%)};
  --secondary-dark: #{color.adjust(#7DA77A, $lightness: -5%)};
  --text-on-secondary: #000000;
  --secondary-light-transparent: rgba(125, 167, 122, 0.5);
  --secondary-dark-transparent: rgba(102, 136, 99, 0.5);

  --tertiary: #F7D56C;
  --tertiary-light: #{color.adjust(#F7D56C, $lightness: 5%)};
  --tertiary-dark: #{color.adjust(#F7D56C, $lightness: -5%)};
  --text-on-tertiary: #000000;
  --tertiary-light-transparent: rgba(247, 213, 108, 0.5);
  --tertiary-dark-transparent: rgba(215, 186, 94, 0.5);

  --dark: #141414;
  --dark-hover: #1E1E1E;
  --dark-active: #0F0F0F;
  --text-on-dark: #EAEAEA;
  --dark-transparent: rgba(20, 20, 20, 0.5);

  --accent: #F43F5E;

  --danger: #E74C3C;
  --danger-light: #{color.adjust(#E74C3C, $lightness: 5%)};
  --danger-hover: #{color.adjust(#E74C3C, $lightness: -5%)};
  --danger-glow: rgba(231, 76, 60, 0.5);
  --text-on-danger: #FFFFFF;

  --success: #27AE60;
  --success-hover: #{color.adjust(#27AE60, $lightness: 5%)};
  --success-glow: rgba(39, 174, 96, 0.5);
  --success-dark: #{color.adjust(#27AE60, $lightness: -5%)};
  --text-on-success: #FFFFFF;

  --info: #2980B9;
  --info-hover: #{color.adjust(#2980B9, $lightness: 5%)};
  --info-glow: rgba(41, 128, 185, 0.5);
  --info-dark: #{color.adjust(#2980B9, $lightness: -5%)};
  --info-light: #{color.adjust(#2980B9, $lightness: 5%)};
  --text-on-info: #FFFFFF;

  --warning: #F7D56C;
  --text-on-warning: #000000;

  --background: #141414;
  --surface: #1E1E1E;
  --text: #EAEAEA;

  --gray-100: #F5F5F5;
  --gray-200: #E0E0E0;
  --gray-300: #BDBDBD;
  --gray-400: #9E9E9E;
  --gray-700: #424242;
  --gray-800: #212121;
}
