@use 'sass:color';

.theme-royal-knights {
  --primary: #FFC300;
  --primary-light: #{color.adjust(#FFC300, $lightness: 5%)};
  --primary-dark: #{color.adjust(#FFC300, $lightness: -5%)};
  --text-on-primary: #000000;
  --primary-light-transparent: rgba(255, 205, 38, 0.5);
  --primary-dark-transparent: rgba(229, 173, 0, 0.5);

  --secondary: #167A5A;
  --secondary-light: #{color.adjust(#167A5A, $lightness: 5%)};
  --secondary-dark: #{color.adjust(#167A5A, $lightness: -5%)};
  --text-on-secondary: #FFFFFF;
  --secondary-light-transparent: rgba(26, 140, 103, 0.5);
  --secondary-dark-transparent: rgba(14, 84, 63, 0.5);

  --tertiary: #E6D69B;
  --tertiary-light: #{color.adjust(#E6D69B, $lightness: 5%)};
  --tertiary-dark: #{color.adjust(#E6D69B, $lightness: -5%)};
  --text-on-tertiary: #000000;
  --tertiary-light-transparent: rgba(240, 229, 173, 0.5);
  --tertiary-dark-transparent: rgba(207, 192, 128, 0.5);

  --danger: #DC3545;
  --danger-light: #{color.adjust(#DC3545, $lightness: 5%)};
  --danger-dark: #{color.adjust(#DC3545, $lightness: -5%)};
  --text-on-danger: #FFFFFF;

  --success: #28A745;
  --success-light: #{color.adjust(#28A745, $lightness: 5%)};
  --success-dark: #{color.adjust(#28A745, $lightness: -5%)};
  --text-on-success: #FFFFFF;

  --info: #007BFF;
  --info-light: #{color.adjust(#007BFF, $lightness: 5%)};
  --info-dark: #{color.adjust(#007BFF, $lightness: -5%)};
  --text-on-info: #FFFFFF;

  --background: #121212;
  --surface: #1e1e1e;
  --text: #FFFFFF;
}
