@use 'sass:color';

.theme-crest-of-hope {
  --primary: #FFFFFF;
  --primary-light: #{color.adjust(#FFFFFF, $lightness: 5%)};
  --primary-dark: #{color.adjust(#FFFFFF, $lightness: -5%)};
  --text-on-primary: #D4AF37;
  --primary-light-transparent: rgba(255, 255, 255, 0.5);
  --primary-dark-transparent: rgba(242, 242, 242, 0.5);

  --secondary: #F7E7A9;
  --secondary-light: #{color.adjust(#F7E7A9, $lightness: 5%)};
  --secondary-dark: #{color.adjust(#F7E7A9, $lightness: -5%)};
  --text-on-secondary: #6A5300;
  --secondary-light-transparent: rgba(249, 236, 185, 0.5);
  --secondary-dark-transparent: rgba(217, 201, 149, 0.5);

  --tertiary: #D4AF37;
  --tertiary-light: #{color.adjust(#D4AF37, $lightness: 5%)};
  --tertiary-dark: #{color.adjust(#D4AF37, $lightness: -5%)};
  --text-on-tertiary: #FFFFFF;
  --tertiary-light-transparent: rgba(223, 188, 58, 0.5);
  --tertiary-dark-transparent: rgba(179, 144, 33, 0.5);

  --warning: #B8862B;
  --warning-light: #{color.adjust(#B8862B, $lightness: 5%)};
  --warning-dark: #{color.adjust(#B8862B, $lightness: -5%)};
  --warning-glow: rgba(184, 134, 43, 0.5);
  --text-on-warning: #FFFFFF;

  --danger: #E57373;
  --danger-light: #{color.adjust(#E57373, $lightness: 5%)};
  --danger-dark: #{color.adjust(#E57373, $lightness: -5%)};
  --text-on-danger: #FFFFFF;

  --success: #81C784;
  --success-light: #{color.adjust(#81C784, $lightness: 5%)};
  --success-dark: #{color.adjust(#81C784, $lightness: -5%)};
  --text-on-success: #000000;

  --info: #64B5F6;
  --info-light: #{color.adjust(#64B5F6, $lightness: 5%)};
  --info-dark: #{color.adjust(#64B5F6, $lightness: -5%)};
  --text-on-info: #FFFFFF;

  --text: #D4AF37;
}
