@use 'sass:color';

.theme-digital-hazard {
  --primary: #D72638;
  --primary-light: #{color.adjust(#D72638, $lightness: 5%)};
  --primary-dark: #{color.adjust(#D72638, $lightness: -5%)};
  --text-on-primary: #FFFFFF;
  --primary-light-transparent: rgba(224, 64, 81, 0.5);
  --primary-dark-transparent: rgba(178, 29, 44, 0.5);

  --secondary: #F4D35E;
  --secondary-light: #{color.adjust(#F4D35E, $lightness: 5%)};
  --secondary-dark: #{color.adjust(#F4D35E, $lightness: -5%)};
  --text-on-secondary: #000000;
  --secondary-light-transparent: rgba(247, 218, 112, 0.5);
  --secondary-dark-transparent: rgba(228, 196, 68, 0.5);

  --tertiary: #B04A2F;
  --tertiary-light: #{color.adjust(#B04A2F, $lightness: 5%)};
  --tertiary-dark: #{color.adjust(#B04A2F, $lightness: -5%)};
  --text-on-tertiary: #FFFFFF;
  --tertiary-light-transparent: rgba(191, 88, 55, 0.5);
  --tertiary-dark-transparent: rgba(140, 54, 31, 0.5);

  --danger: #E01E37;
  --text-on-danger: #FFFFFF;
  --success: #22C55E;
  --text-on-success: #FFFFFF;
  --info: #0081A7;
  --text-on-info: #FFFFFF;

  --background: #121212;
  --surface: #1E1E1E;
  --text: #FFFFFF;
}
