:host {
  width: -webkit-fill-available;
}

.adventure {
  display: flex;
  flex-wrap: wrap;
  height: -webkit-fill-available;

  >div {
    display: flex;
    justify-content: center;
    border: 2px solid var(--primary-dark);
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    padding: 10px;
  }

  .adventure-explore-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    color: var(--text);
    z-index: 1;

    .adventure-explore-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .explore-title {
        align-self: center;
      }
    }
  }

  .adventure-arena-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    color: var(--text);

    .adventure-arena-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;

      &-disclaimer-area {
        display: flex;
        justify-content: space-between;
        height: 100%;

        .disclaimer {
          align-self: center;
          font-size: 1.5rem;
          transform: rotate(-20deg);
        }
      }
    }
  }

  .section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.adventure::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image:
      repeating-linear-gradient(0deg,
        var(--dark) 0px,
        var(--dark-transparent) 1px
      );
  z-index: -1;
}

.adventure::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image:
    repeating-linear-gradient(90deg,
      var(--primary-light-transparent) 0px,
      var(--primary-light-transparent) 1px,
      var(--dark-transparent) 1px,
      var(--dark-transparent) 40px),

    repeating-linear-gradient(0deg,
      var(--primary-light-transparent) 0px,
      var(--primary-light-transparent) 1px,
      var(--dark-transparent) 1px,
      var(--dark-transparent) 40px),

    linear-gradient(90deg,
      transparent 0%,
      var(--primary-light) 50%,
      transparent 100%);
  background-repeat: repeat;
  background-size: 40px 40px, 40px 40px, 200px 100%;
  animation: circuit-flow 4s linear infinite;
  z-index: 0;
  mix-blend-mode: screen;
}

@keyframes circuit-flow {
  0% {
    background-position: 0 0, 0 0, -200px 0;
  }

  100% {
    background-position: 40px 40px, -40px -40px, 0 0;
  }
}
