:host {
  width: -webkit-fill-available;
}

.adventure {
  display: flex;
  flex-wrap: wrap;
  height: -webkit-fill-available;

  >div {
    display: flex;
    justify-content: center;
    border: 2px solid #e78514;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    padding: 10px;
  }

  .adventure-explore-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    color: aliceblue;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('/assets/bg-3.gif');
      background-size: cover;
      filter: brightness(50%);
      z-index: -1;
    }

    .adventure-explore-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .explore-title {
        align-self: center;
      }
    }
  }

  .adventure-arena-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    color: aliceblue;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('/assets/bg-4.gif');
      background-size: cover;
      filter: brightness(10%);
      z-index: -1;
    }

    .adventure-arena-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;

      &-disclaimer-area {
        display: flex;
        justify-content: space-between;
        height: 100%;

        .disclaimer {
          align-self: center;
          font-size: 1.5rem;
          transform: rotate(-20deg);
        }
      }
    }
  }

  .section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
  }
}
