<div class="adventure">
  <div class="adventure-explore-wrapper">
    <div class="adventure-explore-container">
      <span class="section-title explore-title">{{
        "MODULES.ADVENTURE.EXPLORE_SECTION.TITLE" | transloco
      }}</span>
      <app-explore-section />
    </div>
  </div>
  <div class="adventure-arena-wrapper">
    <div class="adventure-arena-container">
      <span class="section-title">{{
        "MODULES.ADVENTURE.ARENA_SECTION.TITLE" | transloco
      }}</span>
      <div class="adventure-arena-container-disclaimer-area">
        <span class="disclaimer">{{
          "MODULES.ADVENTURE.ARENA_SECTION.DISCLAIMER" | transloco
        }}</span>
      </div>
    </div>
  </div>
</div>
