<div class="adventure">
  <div class="adventure-explore-wrapper">
    <div class="adventure-explore-container">
      <span class="section-title explore-title">Explore</span>
      <app-explore-section />
    </div>
  </div>
  <div class="adventure-arena-wrapper">
    <div class="adventure-arena-container">
      <span class="section-title">Arena</span>
      <div class="adventure-arena-container-disclaimer-area">
        <span class="disclaimer">Maybe one day... ¯\_(ツ)_/¯</span>
      </div>
    </div>
  </div>
</div>

<app-digimon-details-modal />
