<app-modal [id]="digimonDetailsModalId()">
  <div class="digimon-details-container">
    <h3 class="section-title">
      {{ "SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.TITLE" | transloco }}
    </h3>
    <div class="digimon-details-content">
      <div class="digimon-details-content-first-block">
        <img
          [src]="globalState.selectedDigimonOnDetails()?.img"
          alt="digimon"
        />
      </div>
      <div class="digimon-details-content-container">
        <div class="digimon-details-header">
          <div class="change-name-container">
            @if(!isEditingName()) {
            <div class="name-rank-container">
              <h4>
                {{
                  globalState.selectedDigimonOnDetails()?.nickName ??
                    globalState.selectedDigimonOnDetails()?.name
                }}
              </h4>
              @if (globalState.selectedDigimonOnDetails()?.nickName &&
              globalState.selectedDigimonOnDetails()?.nickName !==
              globalState.selectedDigimonOnDetails()?.name) {
              <span>{{ globalState.selectedDigimonOnDetails()?.name }}</span>
              }
              <span>{{ globalState.selectedDigimonOnDetails()?.rank }}</span>
            </div>
            <div class="change-name-button-container">
              <app-icon
                name="note-pencil"
                clickable
                (click)="showChangeNameField()"
                style="cursor: pointer"
              ></app-icon>
            </div>
            }@else {
            <div class="change-name-input-container">
              <app-input
                [placeholder]="
                  'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.CHANGE_NAME_PLACEHOLDER'
                    | transloco
                "
                [maxlength]="20"
                [(ngModel)]="digimonNickname"
                [focused]="isEditingName()"
              ></app-input>
            </div>
            <div class="change-name-button-container">
              <app-icon
                name="check-fat"
                clickable
                (click)="saveNewDigimonName()"
                style="cursor: pointer"
              ></app-icon>
            </div>
            }
          </div>
          <app-button
            icon="graph"
            iconScale="2"
            [appTooltip]="
              'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.EVOLUTION_TREE_BUTTON'
                | transloco
            "
            (onClick)="openEvolutionTreeModal()"
          />
        </div>
        <div class="stats">
          <div class="digimon-details-content-info">
            <div class="digimon-details-content-info-item">
              <span class="label">{{
                "SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.AGE" | transloco
              }}</span>
              <span class="value">{{ digimonDetailedAge() }}</span>
            </div>
            <div class="digimon-details-content-info-item">
              <span class="label">{{
                "SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.SPECIES" | transloco
              }}</span>
              <span class="value">{{
                globalState.selectedDigimonOnDetails()?.species
              }}</span>
            </div>
            <div class="digimon-details-content-info-item">
              <span class="label">{{
                "SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.ATTRIBUTE" | transloco
              }}</span>
              <span class="value">{{
                globalState.selectedDigimonOnDetails()?.attribute
              }}</span>
            </div>
            <div class="digimon-details-content-info-item">
              <span class="label">{{
                "SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.LEVEL" | transloco
              }}</span>
              <span class="value">{{
                globalState.selectedDigimonOnDetails()?.level
              }}</span>
            </div>
            <div class="digimon-details-content-info-item">
              <span class="label">{{
                "SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.CURRENT_EXP"
                  | transloco
              }}</span>
              <span class="value"
                >{{
                  globalState.selectedDigimonOnDetails()?.exp | number : "1.0-0"
                }}
                / {{ neededExpForNextLevel() | number : "1.0-0" }}</span
              >
            </div>
            <div class="digimon-details-content-info-item">
              <span class="label">{{
                "SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.TOTAL_EXP" | transloco
              }}</span>
              <span class="value">{{
                globalState.selectedDigimonOnDetails()?.totalExp
              }}</span>
            </div>
          </div>
          <div class="digimon-details-content-info">
            <div class="digimon-details-content-info-stats">
              <div class="digimon-details-content-info-stats-item">
                <span class="label">{{
                  "SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.HP" | transloco
                }}</span>
                <span class="value"
                  ><span
                    [ngClass]="{
                      'low-stat':
                        globalState.selectedDigimonOnDetails()?.currentHp! <=
                          0.2 *
                            globalState.selectedDigimonOnDetails()?.maxHp! &&
                        globalState.selectedDigimonOnDetails()?.currentHp! > 0,
                      'zero-stat':
                        globalState.selectedDigimonOnDetails()?.currentHp === 0
                    }"
                    >{{
                      globalState.selectedDigimonOnDetails()?.currentHp
                        | number : "1.0-0"
                    }}</span
                  >
                  /
                  {{
                    globalState.selectedDigimonOnDetails()?.maxHp
                      | number : "1.0-0"
                  }}</span
                >
              </div>
              <div class="digimon-details-content-info-stats-item">
                <span class="label">{{
                  "SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.MP" | transloco
                }}</span>
                <span class="value"
                  ><span
                    [ngClass]="{
                      'low-stat':
                        globalState.selectedDigimonOnDetails()?.currentMp! <=
                          0.2 *
                            globalState.selectedDigimonOnDetails()?.maxMp! &&
                        globalState.selectedDigimonOnDetails()?.currentMp! > 0,
                      'zero-stat':
                        globalState.selectedDigimonOnDetails()?.currentMp === 0
                    }"
                    >{{
                      globalState.selectedDigimonOnDetails()?.currentMp
                        | number : "1.0-0"
                    }}</span
                  >
                  /
                  {{
                    globalState.selectedDigimonOnDetails()?.maxMp
                      | number : "1.0-0"
                  }}</span
                >
              </div>
              <div class="digimon-details-content-info-stats-item">
                <span class="label">{{
                  "SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.ATK" | transloco
                }}</span>
                <span class="value">{{
                  globalState.selectedDigimonOnDetails()?.atk | number : "1.0-0"
                }}</span>
              </div>
              <div class="digimon-details-content-info-stats-item">
                <span class="label">{{
                  "SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.DEF" | transloco
                }}</span>
                <span class="value">{{
                  globalState.selectedDigimonOnDetails()?.def | number : "1.0-0"
                }}</span>
              </div>
              <div class="digimon-details-content-info-stats-item">
                <span class="label">{{
                  "SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.SPD" | transloco
                }}</span>
                <span class="value">{{
                  globalState.selectedDigimonOnDetails()?.speed
                    | number : "1.0-0"
                }}</span>
              </div>
              <div class="digimon-details-content-info-stats-item">
                <span class="label">{{
                  "SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.BIT_GENERATION"
                    | transloco
                }}</span>
                <span class="value"
                  >{{
                    globalState.selectedDigimonOnDetails()?.bitFarmingRate
                      | number : "1.0-0"
                  }}
                  /m</span
                >
              </div>
            </div>
          </div>
        </div>

        @if( evolutionRoute().length > 0 ) {
        <div class="digimon-details-content-info-item">
          <div class="digimon-evolution-list">
            <h4>
              {{
                "SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.CURRENT_EVOLUTION_ROUTE"
                  | transloco
              }}
            </h4>
            <div class="digimon-evolution-list-container">
              <app-evolution-route [evolutionRoute]="evolutionRoute()" />
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</app-modal>
