<app-modal [id]="digimonDetailsModalId">
  <div class="digimon-details-container">
  <h3 class="section-title">{{ 'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.TITLE' | transloco }}</h3>
    <div class="digimon-details-content">
      <div class="digimon-details-content-first-block">
        <img
          [src]="globalState.selectedDigimonOnDetailsAccessor?.img"
          alt="digimon"
        />
      </div>
      <div class="digimon-details-content-container">
        <div class="digimon-details-header">
          <h4>
            {{
              globalState.selectedDigimonOnDetailsAccessor?.nickName ??
                globalState.selectedDigimonOnDetailsAccessor?.name
            }}
          </h4>
          @if (globalState.selectedDigimonOnDetailsAccessor?.nickName) {
          <span>{{ globalState.selectedDigimonOnDetailsAccessor?.name }}</span>
          }
          <span>{{ globalState.selectedDigimonOnDetailsAccessor?.rank }}</span>
        </div>
        <div class="stats">
          <div class="digimon-details-content-info">
            <div class="digimon-details-content-info-item">
              <span class="label">{{ 'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.AGE' | transloco }}</span>
              <span class="value">{{ digimonDetailedAge() }}</span>
            </div>
            <div class="digimon-details-content-info-item">
              <span class="label">{{ 'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.SPECIES' | transloco }}</span>
              <span class="value">{{
                globalState.selectedDigimonOnDetailsAccessor?.species
              }}</span>
            </div>
            <div class="digimon-details-content-info-item">
              <span class="label">{{ 'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.ATTRIBUTE' | transloco }}</span>
              <span class="value">{{
                globalState.selectedDigimonOnDetailsAccessor?.attribute
              }}</span>
            </div>
            <div class="digimon-details-content-info-item">
              <span class="label">{{ 'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.LEVEL' | transloco }}</span>
              <span class="value">{{
                globalState.selectedDigimonOnDetailsAccessor?.level
              }}</span>
            </div>
            <div class="digimon-details-content-info-item">
              <span class="label">{{ 'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.CURRENT_EXP' | transloco }}</span>
              <span class="value"
                >{{
                  globalState.selectedDigimonOnDetailsAccessor?.exp
                    | number : "1.0-0"
                }}
                / {{ neededExpForNextLevel() | number : "1.0-0" }}</span
              >
            </div>
            <div class="digimon-details-content-info-item">
              <span class="label">{{ 'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.TOTAL_EXP' | transloco }}</span>
              <span class="value">{{
                globalState.selectedDigimonOnDetailsAccessor?.totalExp
              }}</span>
            </div>
          </div>
          <div class="digimon-details-content-info">
            <div class="digimon-details-content-info-stats">
              <div class="digimon-details-content-info-stats-item">
                <span class="label">{{ 'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.HP' | transloco }}</span>
                <span class="value"
                  ><span
                    [ngClass]="{
                      'low-stat':
                        globalState.selectedDigimonOnDetailsAccessor
                          ?.currentHp! <=
                          0.2 *
                            globalState.selectedDigimonOnDetailsAccessor
                              ?.maxHp! &&
                        globalState.selectedDigimonOnDetailsAccessor
                          ?.currentHp! > 0,
                      'zero-stat':
                        globalState.selectedDigimonOnDetailsAccessor
                          ?.currentHp === 0
                    }"
                    >{{
                      globalState.selectedDigimonOnDetailsAccessor?.currentHp
                        | number : "1.0-0"
                    }}</span
                  >
                  /
                  {{
                    globalState.selectedDigimonOnDetailsAccessor?.maxHp
                      | number : "1.0-0"
                  }}</span
                >
              </div>
              <div class="digimon-details-content-info-stats-item">
                <span class="label">{{ 'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.MP' | transloco }}</span>
                <span class="value"
                  ><span
                    [ngClass]="{
                      'low-stat':
                        globalState.selectedDigimonOnDetailsAccessor
                          ?.currentMp! <=
                          0.2 *
                            globalState.selectedDigimonOnDetailsAccessor
                              ?.maxMp! &&
                        globalState.selectedDigimonOnDetailsAccessor
                          ?.currentMp! > 0,
                      'zero-stat':
                        globalState.selectedDigimonOnDetailsAccessor
                          ?.currentMp === 0
                    }"
                    >{{
                      globalState.selectedDigimonOnDetailsAccessor?.currentMp
                        | number : "1.0-0"
                    }}</span
                  >
                  /
                  {{
                    globalState.selectedDigimonOnDetailsAccessor?.maxMp
                      | number : "1.0-0"
                  }}</span
                >
              </div>
              <div class="digimon-details-content-info-stats-item">
                <span class="label">{{ 'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.ATK' | transloco }}</span>
                <span class="value">{{
                  globalState.selectedDigimonOnDetailsAccessor?.atk
                    | number : "1.0-0"
                }}</span>
              </div>
              <div class="digimon-details-content-info-stats-item">
                <span class="label">{{ 'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.DEF' | transloco }}</span>
                <span class="value">{{
                  globalState.selectedDigimonOnDetailsAccessor?.def
                    | number : "1.0-0"
                }}</span>
              </div>
              <div class="digimon-details-content-info-stats-item">
                <span class="label">{{ 'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.SPD' | transloco }}</span>
                <span class="value">{{
                  globalState.selectedDigimonOnDetailsAccessor?.speed
                    | number : "1.0-0"
                }}</span>
              </div>
              <div class="digimon-details-content-info-stats-item">
                <span class="label">{{ 'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.BIT_GENERATION' | transloco }}</span>
                <span class="value"
                  >{{
                    globalState.selectedDigimonOnDetailsAccessor?.bitFarmingRate
                      | number : "1.0-0"
                  }}
                  /m</span
                >
              </div>
            </div>
          </div>
        </div>

        @if( evolutionRoute().length > 0 ) {
        <div class="digimon-details-content-info-item">
          <div class="digimon-evolution-list">
            <h4>{{ 'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.CURRENT_EVOLUTION_ROUTE' | transloco }}</h4>
            <div class="digimon-evolution-list-container">
              <app-evolution-route [evolutionRoute]="evolutionRoute()" />
            </div>
          </div>
        </div>
        }
  <app-button [text]="'SHARED.COMPONENTS.DIGIMON_DETAILS_MODAL.EVOLUTION_TREE_BUTTON' | transloco" (onClick)="openEvolutionTreeModal()" />
      </div>
    </div>
  </div>
</app-modal>

<app-evolution-tree-modal
  [mainDigimon]="globalState.selectedDigimonOnDetailsAccessor"
/>
